.page-sidebar-closed {
  .onboarding-navbar.displayed {
    display: none;
  }
}

.onboarding-navbar {
  display: none;
}

.onboarding-navbar.displayed {
  display: block;
  font-weight: normal;
  box-sizing: border-box;
  width: $size-navbar-width;
  padding: 0.625rem;
  padding-bottom: 2.1875rem; // Forced because of old theme
  background: $navbar-footer-color;
  position: fixed;
  bottom: 0;
  font-size: 0.6875rem;
  text-align: center;

  > .text {
    text-align: left;
    color: $navbar-text-color;
    padding-bottom: 0.625rem;
  }

  .onboarding-button-resume {
    // Forced because of old theme
    background: #1e2024;
    color: #95a7ad;
  }

  .btn {
    background: $navbar-progress-secondary-color;
    color: $navbar-text-color;
    text-transform: uppercase; // Forced because of old theme
    margin: 0 auto;
    font-size: 0.625rem;
    padding: 0.375rem 0.9375rem;

    &:hover {
      // Forced because of old theme
      color: #95a7ad !important; // Forced because of old theme
    }
  }

  .btn.-small {
    margin-top: 2px;
    font-size: 0.5rem;
    padding: 0.25rem;
    text-transform: none;
    background: $navbar-footer-color;
    font-size: 0.625rem !important; // Forced because of old theme
    text-transform: none; // Forced because of old theme
    color: #95a7ad !important; // Forced because of old theme

    &:hover {
      // Forced because of old theme
      color: #95a7ad !important; // Forced because of old theme
      text-decoration: underline; // Forced because of old theme
    }
  }

  > .btn.-small:hover {
    text-decoration: underline;
  }

  > .progress {
    border-radius: $navbar-progress-size;
    height: $navbar-progress-size;
    background: $navbar-progress-secondary-color;
    margin-bottom: 1rem;
  }

  > .progress > .bar {
    border-radius: $navbar-progress-size;
    background: $navbar-progress-primary-color;
    height: $navbar-progress-size;
  }
}
