$navbar-footer-color: #292c32;
$navbar-progress-secondary-color: #1e2024;
$navbar-progress-primary-color: #fbb000;
$navbar-text-color: #95a7ad;

$popup-width: 35rem;

$navbar-progress-size: 8px;

$minimum-z-index: 1500;

$background-color: #dff5f9;
$primary-color: #25b9d7;
$dark-color: #363a41;
$dark-light-color: #6c868e;
$background-secondary-color: #bbcdd2;
$background-tertiary-color: #6c868e;
$blue-balloon: #2eacce;

$tooltip-border: 1px solid;

$tooltip-radius: 5px;

$size-navbar-width: 210px;
