{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}

{% if not nativeStatsModulesEnabled %}
  {% block content %}
      <div id="metrics-app"></div>
  {% endblock %}

  {% block stylesheets %}
    {% if useLocalVueApp == false %}
      <link rel="stylesheet" href="{{ pathAssetsCdn }}" type="text/css" media="all">
    {% elseif  useLocalVueApp == true and useBuildModeOnly == true %}
      <link rel="stylesheet" href="{{ pathAssetsBuilded }}" type="text/css" media="all">
    {% endif %}

    <style>
      /** Hide native multistore module activation panel, because of visual regressions on non-bootstrap content */
      #content.nobootstrap div.bootstrap.panel {
        display: none;
      }
    </style>
  {% endblock %}

  {% block javascripts %}
    <script>
      var oAuthGoogleErrorMessage = '{{ oAuthGoogleErrorMessage|raw }}';
      var fullscreen = {% if fullscreen %} true {% else %} false {% endif %};
      var contextPsAccounts = {{ contextPsAccounts|json_encode|raw }};
      var metricsApiUrl = '{{ metricsApiUrl|raw }}';
      var metricsModule = {{ metricsModule|json_encode|raw }};
      var eventBusModule = {{ eventBusModule|json_encode|raw }};
      var accountsModule = {{ accountsModule|json_encode|raw }};
      var mboModule = {{ mboModule|json_encode|raw }};
      var graphqlEndpoint = '{{ graphqlEndpoint|raw }}';
      var isoCode = '{{ isoCode|raw }}';
      var currencyIsoCode = '{{ currencyIsoCode|raw }}';
      var currentPage = '{{ currentPage|raw }}';
      var adminToken = '{{ adminToken|raw }}';
    </script>

    {% if useLocalVueApp == true %}
      {% if useBuildModeOnly == true %}
        <script type="module" src="{{ pathAppBuilded }}"></script>
      {% else %}
        <script type="module" src="https://localhost:3001/@vite/client"></script>
        <script type="module" src="https://localhost:3001/src/main.ts"></script>
      {% endif %}
    {% else %}
      <script type="module" src="{{ pathAppCdn }}"></script>
    {% endif %}
  {% endblock %}
{% endif %}
