#ps_checkout .badge.badge-payment {
  background-color: #00B887;
  color: #fff;
}

#ps_checkout .badge.badge-refund {
  background-color: #34219E;
  color: #fff;
}

#ps_checkout .badge.badge-paypal-environment-sandbox {
  background-color: #5E5E5E;
  color: #FFF;
  font-size: 12px;
  border-radius: 10px!important;
}

#ps_checkout .badge.badge-paypal-environment-live {
  background-color: #174EEF;
  color: #FFF;
  font-size: 12px;
  border-radius: 10px!important;
}

#ps_checkout .panel-wrapper {
  flex-grow: 1;
  padding: 18px 14px;
  border: 2px solid #e4ebf3;
  margin-bottom: 10px;
}
#ps_checkout .panel {
  background: none;
  box-shadow: none;
  text-align: left;
  color: #555555;
  position: relative;
}
#ps_checkout .panel__title, #ps_checkout .tabpanel__title {
  display: block;
  color: #878787;
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #eeeeee;
}
#ps_checkout .panel__infos {
  margin-top: 16px;
  margin-bottom: 0;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 116px 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 8px;
}
#ps_checkout .panel__infos dd {
  font-weight: 400;
  text-align: right;
}
#ps_checkout .panel__cta {
  text-align: center;
}
#ps_checkout .panel__cta a {
  font-weight: 600;
  color: #555;
  text-decoration: underline;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
#ps_checkout .select-wrapper {
  margin-bottom: 1.5em;
}
#ps_checkout .select-wrapper__select {
  width: 100%;
  background-color: #fff;
  border: 1px solid #B3C7CD;
  border-radius: 3px;
  color: #363A41;
  padding: 0.5em;
}
#ps_checkout .tabs {
  color: #555555;
  position: relative;
}
#ps_checkout [role="tablist"] {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  height: 100%;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
}
#ps_checkout .tab {
  background: none;
  box-shadow: none;
  text-align: left;
  padding: 20px 14px;
  color: #555555;
  border: 2px solid #e5ebf3;
  border-bottom: none;
  cursor: pointer;
}
#ps_checkout .tab:last-child{
  border-bottom: 2px solid #e5ebf3;
}
#ps_checkout .tab:focus{
  outline: none;
}
#ps_checkout .tab[aria-selected="true"] {
  border-right: 4px solid #fff;
  position: relative;
  z-index: 2;
}
#ps_checkout .tab__btn-title {
  display: block;
  margin-bottom: 8px;
}
#ps_checkout .tab__btn-infos {
  display: flex;
  justify-content: space-between;
}
#ps_checkout .tabpanel-wrapper {
  flex-grow: 1;
  padding: 18px 14px;
  border: 2px solid #e5ebf3;
}
#ps_checkout .tabpanel {
  position: relative;
}
#ps_checkout .tabpanel__infos {
  margin-top: 16px;
  margin-bottom: 0;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 116px 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 8px;
}
.tabpanel__infos + .tabpanel__infos {
  padding-bottom: 0;
}
#ps_checkout .tabpanel__infos dd {
  font-weight: 700;
  text-align: right;
}
#ps_checkout .tabpanel__cta {
  font-weight: 600;
  color: #555;
  text-decoration: underline;
  text-align: center;
  display: block;
}
#ps_checkout .tabpanel__cta:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.8em;
  text-decoration: none;
  width: 1.15em;
  height: 1.15em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z'/%3E%3C/svg%3E");
  background-size: contain;
}
@media screen and (min-width: 780px) {
  #ps_checkout .panel__cta {
    text-align: right;
  }
  #ps_checkout .panel__infos dd {
    text-align: left;
  }
  #ps_checkout .select-wrapper {
    display: none;
  }
  #ps_checkout .tabs {
    display: flex;
    padding-left: 244px;
  }
  #ps_checkout [role="tablist"] {
    display: flex;
    flex-direction: column;
    width: 254px;
    flex-shrink: 0;
  }
  #ps_checkout .panel__infos {
    grid-template-columns: max-content;
    grid-template-areas:
            "reference referenceValue total totalValue payment paymentValue"
            "status statusValue balance balanceValue empty empty";
  }
  #ps_checkout [data-grid-area="reference"] {
    grid-area: reference;
  }
  #ps_checkout [data-grid-area="reference"] + dd {
    grid-area: referenceValue;
  }
  #ps_checkout [data-grid-area="total"] {
    grid-area: total;
  }
  #ps_checkout [data-grid-area="total"] + dd {
    grid-area: totalValue;
  }
  #ps_checkout [data-grid-area="payment"] {
    grid-area: payment;
  }
  #ps_checkout [data-grid-area="payment"] + dd {
    grid-area: paymentValue;
  }
  #ps_checkout [data-grid-area="status"] {
    grid-area: status;
  }
  #ps_checkout [data-grid-area="status"] + dd {
    grid-area: statusValue;
  }
  #ps_checkout [data-grid-area="balance"] {
    grid-area: balance;
  }
  #ps_checkout [data-grid-area="balance"] + dd {
    grid-area: balanceValue;
  }
  #ps_checkout .tabpanel__infos dd {
    font-weight: 700;
    text-align: left;
  }
  #ps_checkout .tabpanel__cta {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* width */
#ps_checkout [role="tablist"]::-webkit-scrollbar {
  width: 8px;
}

#ps_checkout [role="tablist"]::-webkit-scrollbar-thumb {
  background: rgba(169, 169, 169, 0.15);
  border-radius: 20px;
}

/*!* Handle on hover *!*/
#ps_checkout [role="tablist"]::-webkit-scrollbar-thumb:hover {
  background: rgba(56, 56, 56, 0.33);
}

#ps_checkout .balance-info-icon:after {
  font-style: normal;
  font-family: "Material Icons";
  content: "\E001";
  display: inline-block;
  vertical-align: middle;
  color: #878787;
}
.modal.ps-checkout-refund .modal-header{
  margin: 0 10px 10px 10px;
  padding: 0;
  border-bottom: 1px solid #EEEEEE;
}
.modal.ps-checkout-refund .modal-footer button{
  border-radius: 5px;
}
.modal.ps-checkout-refund .modal-footer .refund-submit, .modal.ps-checkout-refund .modal-footer .refund-confirm {
  min-width: 175px;
}
.modal.ps-checkout-refund .input-group-append .input-group-text{
  border-radius: 5px 0 0 5px;
}
.modal.ps-checkout-refund .input-group-append input{
  border-radius: 0 5px 5px 0;
}
.modal.ps-checkout-refund .text-muted a{
  color: inherit;
  text-decoration: underline;
}
.modal.ps-checkout-refund .row.separator{
  border-bottom: 1px solid #eee;
  margin-top: 20px;
  margin-bottom: 20px;
}
.modal.ps-checkout-refund .order-totals{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.modal.ps-checkout-refund .order-totals-column{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.modal.ps-checkout-refund .modal-header .modal-title {
  text-transform: uppercase;
}
/*CSS FOR LEGACY MODULE*/
#ps_checkout .legacy .tabpanel__cta{
  margin: 5px;
}
#ps_checkout .legacy .tabpanel__infos{
  margin-bottom: 20px;
}
.modal.ps-checkout-refund.legacy [hidden="hidden"] {
  display: none;
}
.modal.ps-checkout-refund.legacy button.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.modal.ps-checkout-refund.legacy button.close>span{
  font-size: 40px;
}
.modal.ps-checkout-refund.legacy .modal-content-container{
  padding: 10px
}

.checkout-modal-container {
  padding: 100px 180px;
}

@media (max-width: 1400px) {
  .checkout-modal-container {
    padding: 10px 18px;
  }
}

.checkout-modal {
  border: 1px solid #D9E3EC;
  border-radius: 8px;
  padding: 24px;
}

.checkout-modal-button {
  align-items: center;
  background: #442CC7;
  border: 0px;
  border-radius: 4px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 24px;
  padding: 12px 12px;
  width: 100%;
}

.checkout-modal-button .btn {
  color: #FFFFFF;
}
