/**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 */

.banner-alert {
    padding: .75rem 0 .75rem 2.875rem;
    background-color: #fff;
    border: solid 2px #cd9321;
    position: relative;
    margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
    .banner-alert {
        margin-top: 45px;
    }
}

.banner-icon {
    background-color: #f5e9d3;
    color: #cd9321;
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    vertical-align: middle;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 46px;
    width: 2.875rem;
    height: 100%;
    text-align: center;
    font-size: 25.008px;
    font-size: 1.563rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner-text {
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    padding: 0 .625rem;
    font-size: .875rem;
    margin: 0;
}

.banner-text h2 {
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    margin-bottom: .9375rem;
    font-weight: 700;
    line-height: 1.2;
    color: #363a41;
    font-size: 1.125rem;
    margin-top: 0;
}

.banner-upgrade-info {
    margin-bottom: 0.9375rem !important;
    color: #555555;
}

.incompatible-list {
    color: #363a41;
    margin-bottom: 1.5rem !important;
}

.banner-link {
    margin-left: 1.875rem;
    padding-left: 0 !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    font-weight: 600 !important;
    color: #25B9D7 !important;
}

.banner-link-icon {
    font-size: 1.4em;
    margin-top: -.083em;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

a.banner-link:hover {
    color: #25B9D7 !important;
}

.button-link {
    /* margin-top: 1.5rem !important; */
    background-color: #25b9d7;
    padding: .375rem .838rem;
    color: #ffffff !important;
    font-size: .875rem;
    font-weight: 600;
}

.button-link:hover {
    background-color: #3ed2f0;
    text-decoration: underline;
}
