.module-catalog-page {
  margin: 6px;
  max-width: 1680px;
}

@media (min-width: 544px) {
  .module-catalog-page {
    margin: 0 33px;
  }
}

.module-catalog-page hr.top-menu-separator {
  margin: 24px 0;
}

.module-catalog-page .ps-dropdown.bordered {
  margin-bottom: 0 !important;
}

.module-top-menu, .module-catalog-page-result {
  margin-top: 8px;
}

.adminpsmbomodule .module-top-menu, .module-catalog-page-result {
  padding: 24px;
  gap: 24px;
  background: #FFFFFF;
  border: 1px solid #B3C7CD;
  border-radius: 4px;
}

.module-sorting-search-wording {
  display: flex;
}

.module-catalog-page-result {
  margin-top: 24px;
}

.adminpsmbomodule .module-catalog-page-result .module-placeholders-wrapper .timeline-item-wrapper{
  height: 350px;
  min-height: 350px;
  border: 1px solid #B3C7CD;
  border-radius: 4px;
  margin-bottom: 24px;
}

.module-search-result-title.module-search-result-wording {
  margin-bottom: 0;
}

.module-sorting-search-wording__tooltip-container {
  margin-top: 3px;
}

.mbo-modules-catalog {
  --theme-primary: #25b9d7;
  --theme-secondary: #6c868e;
  --theme-secondary-pressed: #566b72;
  --theme-secondary-hover: #b7ced3;
  --theme-secondary-active: #889da2;

  --main-font-color: #131a26;
  --secondary-font-color: #505969;

  --brand-dark-blue: #011638;

  --main-border-color: #c8d7e4;

  --card-tag-bg-color: #fafbfc;
  --card-tag-border-color: #b7ced3;

  --warning-500: #ffa000;
}

.mbo-modules-catalog-no-result {
  display: none;
  margin: auto;
  text-align: center;
}

.mbo-modules-catalog-no-result img {
  filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.1));
}

@media (min-width: 544px) {
  .mbo-modules-catalog-no-result img {
    padding-left: 75px;
  }
}

.mbo-module-grid__item {
  display: flex;
  border-radius: 4px;
  padding: 0;
}

.mbo-module-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  row-gap: 16px;
  width: 100%;
}


.adminpsmbomodule .mbo-module-card {
  margin: 0px 12px 16px 12px;
  border: 1px solid #B3C7CD;
}

.mbo-module-card .mbo-module-card__top {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.mbo-module-card__header {
  display: flex;
  flex-direction: row;
}

.mbo-module-card__header .mbo-module-card__img-container {
  width: 50px;
  height: 50px;
  border: 1px solid var(--main-border-color);
  border-radius: 8px;
  overflow: hidden;
  margin-right: 16px;
  flex-shrink: 0;
}

.mbo-module-card__header .mbo-module-card__img-container .mbo-module-card__img {
  width: 48px;
  height: 48px;
  border: 1px solid white;
  border-radius: 8px;
}

.mbo-module-card__header .mbo-module-card__title-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.mbo-module-card__header
  .mbo-module-card__title-container
  .mbo-module-card__title {
  color: var(--main-font-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 4px;
}

.mbo-module-card__subtitle {
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}

.mbo-module-card__header
  .mbo-module-card__title-container
  .mbo-module-card-tag-section {
  display: flex;
  justify-content: space-between;
}

.mbo-module-card__infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.mbo-module-card__tags-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
  align-items: flex-start;
}

.mbo-module-card__tag {
  color: var(--theme-secondary);
  background: var(--card-tag-bg-color);
  border: 1px solid var(--card-tag-border-color);
  border-radius: 4px;
  padding: 2px 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.mbo-module-card__rate-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
  height: 24px;
}

.mbo-module-card__rate-container .material-icons {
  font-size: 16px;
  color: var(--warning-500);
}

.mbo-module-card__rate-container .mbo-module-card__rate {
  color: var(--main-font-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.mbo-module-card__rate-container .mbo-module-card__nb-rate {
  color: var(--secondary-font-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.mbo-module-card__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-font-color);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}

.mbo-module-card a.mbo-module-card__read-more {
  color: var(--theme-primary);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.mbo-module-card .mbo-module-card__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: var(--brand-dark-blue);
}

.mbo-module-card .btn-group.module-actions {
  display: flex;
  gap: 16px;
}


.mbo-module-card .btn-group.module-actions .btn.btn-secondary, 
.mbo-module-card .btn-group.module-actions .btn.btn-outline-secondary, 
.mbo-module-card .btn-group.module-actions .btn.btn-outline-primary {
  border-color: var(--theme-secondary);
  border-radius: 4px;
}

.mbo-module-card .btn-group.module-actions :first-child {
  flex: 1;
}

.mbo-module-card
  .btn-group.module-actions
  .btn.btn-outline-primary:first-child {
  background-color: var(--theme-secondary);
  color: white;
  flex: 1;
}

.mbo-module-card
  .btn-group.module-actions
  .btn.btn-outline-primary:not(:first-child) {
  color: var(--theme-secondary);
  flex: 0;
}

.mbo-module-card .btn-group.module-actions a:hover,
.mbo-module-card .btn-group.module-actions button:hover,
.mbo-module-card .btn-group.module-actions .btn.btn-outline-primary:hover,
.mbo-module-card .btn-group.module-actions .btn.btn-outline-secondary:hover {
  color: white;
  border-color: var(--theme-secondary-hover) !important;
  background-color: var(--theme-secondary-hover) !important;
}

.mbo-module-card .btn-group.module-actions .btn.btn-outline-primary:first-child:active,
.mbo-module-card .btn-group.module-actions .btn.btn-outline-primary:not(:first-child):active,
.mbo-module-card .btn-group.module-actions.show> .btn-outline-primary.dropdown-toggle {
  border-color: var(--theme-secondary-active);
  color: white;
  background-color: var(--theme-secondary-active);
}

.mbo-module-card .btn-primary-reverse.spinner {
  align-self: center;
}

.mbo-module-card .btn-group.module-actions .btn.btn-outline-primary:focus {
  box-shadow: none;
}
