/**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 */

.module-read-more-grid {
  display: inline-block;
}

.module-read-more-grid .module-read-more-grid-btn {
  font-weight: 700;
}

.module-modal-content .changelog-tab {
  max-height: 300px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.pstaggerTag {
  /* To prevent search input to be larger than its container */
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
}

.mbo-catalog-wrapper {
  background-color: #ffffff;
}

#growls.default {
  top: 10px;
  right: 10px;
}
#growls {
  z-index: 50000;
  position: fixed;
}
.growl.growl-error {
  color: #363a41;
  background-color: #fbc6c3;
  border: 1px solid #f44336;
}

.growl.growl-notice {
  color: #363a41;
  background-color: #beeaf3;
  border: 1px solid #25b9d7;
}

.growl.growl-warning {
  color: #363a41;
  background-color: #fffbd3;
  border: 1px solid #fab000;
}

.growl.growl-default {
  color: #363a41;
  background-color: #cbf2d4;
  border: 1px solid #53d572;
}
