/**
 * 2007-2020 PrestaShop and Contributors
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA <contact@prestashop.com>
 * @copyright 2007-2020 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License 3.0 (AFL-3.0)
 * International Registered Trademark & Property of PrestaShop SA
 */
 #main #content #recommended-modules-container .modules_list_container_tab .alert-addons,
 #main #content #modules_list_container #modules_list_container_tab_modal .alert-addons,
 #main-div #recommended-modules-container .alert-addons,
 #main-div #modules_list_container_tab_modal .alert-addons {
   border: none;
   background-color:#F4FCFD ;
   font-size: 14px;
   font-weight: 600;
   line-height: 19px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration-line: underline;
 }
 
 #main #content #recommended-modules-container .modules_list_container_tab .alert-addons::before,
 #main #content #modules_list_container #modules_list_container_tab_modal .alert-addons::before{
   display:none;
   }
 
 #main #content #recommended-modules-container .modules_list_container_tab .alert-addons .alert-text .material-icons, 
 #main #content .panel #modules_list_container #modules_list_container_tab .alert-addons .alert-text .material-icons,
 #main #content #modules_list_container #modules_list_container_tab_modal .alert-addons .material-icons,
 #main-div #recommended-modules-container .alert-addons .material-icons,
 #main-div #modules_list_container_tab_modal .alert-addons .material-icons {
   color: #25b9d7;
   margin-left: 5px;
   font-size: medium;
   
 }
 
 #main-div #modules_list_container_content .img-thumbnail {
   max-width: 56px;
   width: 56px;
 }

 .nav-tabs .nav-item.active{
   border-top: none !important;
   margin-bottom: 10px;
 }
 .card-block .nav-tabs .nav-item .nav-link.active,
 .card-block .nav-tabs .nav-item.active .nav-link.active,
 #content .modules_list_container_tab .nav-tabs .nav-item.active .nav-link,
 #content .modules_list_container_tab .nav-tabs .nav-item.active .nav-link.active,
 .content-div #modules_list_container_tab_modal .nav-tabs .nav-item .nav-link.active,
 #content #modules_list_container_tab_modal .nav-tabs .nav-item.active .nav-link,
 #modules_list_container_tab_modal .nav-tabs .nav-item.active .nav-link.active{
   border-top: none !important;
   border-bottom: 3px solid #25b9d7 !important ;
 }


 
 #content.bootstrap .nav-tabs .nav-item.show .nav-link,
 #content.bootstrap .nav-tabs .nav-link.active {
   color: #363a41;
   background-color: #fff;
   border-color: #25b9d7;
 }
 
 #content.bootstrap .nav-tabs,
 #content.bootstrap .nav-tabs .nav-link {
   border: none;
 }
 
 #content.bootstrap #modules_list_container_content .img-thumbnail {
   max-width: 56px;
   width: 56px;
 }
 
 #content.bootstrap #modules_list_container_content .btn .module_action_menu_install{
  border-radius: 5px;
  color: #fff ;
  background-color: #6c868e ;
  border-color: #6c868e 
 }
 
 #content.bootstrap #modules_list_container_content .btn-block {
   padding-left: 8px;
   padding-right: 8px;
 }
 
 #content.bootstrap #modules_list_container_content .btn-group {
   display: inline-flex;
 }
 
 #content.bootstrap #modules_list_container_content .dropdown-item {
   display: block;
   width: 100%;
   padding: 5px;
   clear: both;
   font-weight: 400;
   color: #6c868e;
   text-align: inherit;
   white-space: nowrap;
   background-color: transparent;
   border: 0;
 }
 
 #content.bootstrap #modules_list_container_content .dropdown-item:focus,
 #content.bootstrap #modules_list_container_content .dropdown-item:hover {
   color: #25b9d7;
   text-decoration: none;
   background-color: #fff;
 }
 
 #content.bootstrap #modules_list_container_content button.spinner {
   color: #fff;
   background-color: #fff;
   width: 40px;
   width: 2.5rem;
   height: 40px;
   height: 2.5rem;
   border-radius: 2.5rem;
   border-right-color: #25b9d7;
   border-bottom-color: #25b9d7;
   border-width: 3px;
   border-width: 0.1875rem;
   border-style: solid;
   font-size: 0;
   outline: none;
   display: inline-block;
   border-left-color: #bbcdd2;
   border-top-color: #bbcdd2;
   animation: rotating 2s linear infinite;
 }
 
 #content.bootstrap #tab_modules_list_installed > tbody > tr > td:nth-child(2),
 #content.bootstrap
   #tab_modules_list_not_installed
   > tbody
   > tr
   > td:nth-child(2) {
   width: 90%;
 }
 
 #content.bootstrap .card {
   position: relative;
   display: block;
   background-color: #fff;
   border: 1px solid #dbe6e9;
   border-radius: 5px;
   box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
 }
 
 #content.bootstrap .card-body {
   padding: 20px;
 }
 
 #content.bootstrap .card-body .img-responsive {
   display: inline;
   max-width: 100%;
 }
 
 #content.bootstrap .mt-3 {
   margin-top: 15px;
 }
 
 .bootstrap
   .page-head
   .toolbarBox
   .btn-toolbar
   .toolbar_btn.mbo-modules-recommended-button {
   color: #fff;
   background-color: #6c868e;
   border-color: #6c868e;
   -webkit-box-shadow: none;
   box-shadow: none;
   display: flex;
   align-items: center;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px; 
 }
 .bootstrap
   .page-head
   .toolbarBox
   .btn-toolbar
   .toolbar_btn.mbo-modules-recommended-button
   i {
   display: inline-block;
   color: #fff;
   margin-right: 5px;
 }
 
 .bootstrap
   .page-head
   .toolbarBox
   .btn-toolbar
   .toolbar_btn.mbo-modules-recommended-button:hover {
   color: #fff;
   background-color: #b7ced3;
   border-color: #b7ced3;
 }
 .recommended-modal-description {
   margin-bottom: 30px;
   margin-bottom: 10px;
   font-size: 14px;
   line-height: 19px;
 }
 .recommended-modal-content-description {
   font-size: 14px;
   line-height: 19px;
   margin-left: 10px;
   margin-top: 10px;
 }
 
 .panel#recommended-modules-container .recommended-modal-content-description {
   margin-left: 0px;
 }
 
 .iconButtonRecommanded{
   margin-right: 20px;
 }

 .modules_list_container_tab row .nav-tabs .nav-item .nav-link.active{
  border-bottom: none !important;
 }

 .bootstrap .module-container .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),
  .module-container .btn-group>.btn:not(:first-child),
  .module-container .btn-group>.btn:not(:last-child):not(.dropdown-toggle), .btn-group>.btn-group:not(:last-child)>.btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid ;
  border: 1px solid #6c868e ;
  border-radius: 5px;
}

.btn-group .btn.dropdown-toggle-split[class*="outline"] {
  margin-left:15px;
}
/* action button */
#content #recommended-modules-container .module-actions .btn-secondary,
#modules_list_container_content .module-actions .btn-secondary,
.module-actions .module_action_menu_install{
  color: #fff ;
  background-color: #6c868e ;
  border-color: #6c868e ;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
}

.module-actions .btn-outlined-secondary {
  display :flex;
  align-items: center;
}
.module-actions .btn-outlined-secondary i {
  margin-right :3px;
  margin-top: 2px;
}
.bootstrap .module-actions p.spacing-icone-p {
  margin: 0px 0px 0px;
}
/* hover button */
.bootstrap .btn-group>.dropdown-toggle:not(:first-child):hover,
#modules_list_container_content .module-actions .module_action_menu_install:hover,
#modules_list_container_content .module-actions .module_action_menu_install:hover,
#modules_list_container_content .module-actions .module_action_menu_upgrade:hover,
#modules_list_container_content .module-actions .dropdown-toggle:hover,
#modules_list_container_content .module-actions a:hover,
#modules_list_container_content .module-actions .dropdown-toggle:hover,
#modules_list_container_content .module-actions a:hover,
#modules_list_container_tab_modal #modules_list_container_content .module-actions a:hover,
.btn-group .module_action_menu_install:hover,
#modules_list_container_content .module-actions .module_action_menu_install:hover,
#modules_list_container_content .module-actions a:hover,
#modules_list_container_content .module-actions a:hover,
#modules_list_container_content .module-actions .dropdown-toggle:hover,
#modules_list_container_content .module-actions .module_action_menu_go_to_addons:hover {
 color: #fff;
 background-color: #b7ced3 !important;
 background-image: none ;
 border-color: #b7ced3 !important;
 border-radius: 5px;
}

/* Focus dropdown */
#modules_list_container_content .module-actions .dropdown-toggle:focus,
#main #content #modules_list_container_tab_modal #modules_list_container_content .module-actions .dropdown-toggle:focus{
  box-shadow: none;
}

/* dropdown */
.bootstrap .module-container .btn-group>.dropdown-toggle:not(:first-child){
  margin-left: 15px;
  border-left: 1px solid ;
  border: 1px solid #6c868e ;
  border-radius: 5px;
} 

#modules_list_container_content .module-quick-action-list {
  width: 140px;
  text-align: right;
}
 @media (min-width: 768px) {
   #content.bootstrap #modules_list_container .modal-dialog {
     width: 680px;
   }
 }
 