{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}
<div class="cdc-error-container">
  <div class="cdc-error-content">
    <div class="cdc-error-content-wrapper">
      <h1 class="cdc-error-title">
        {{ 'Oh no.. something went wrong'|trans({}, 'Modules.Mbo.Global') }}
      </h1>
      <p class="cdc-error-message">
        {{ 'There has been a problem on our side. Refresh your page and if the problem persists, try again later.'|trans({}, 'Modules.Mbo.Global') }}
      </p>
    </div>
    <div class="cdc-error-button-container">
      <button class="cdc-error-button" onclick="javascript:window.location.reload();">
        {{ 'Refresh page'|trans({}, 'Modules.Mbo.Global') }}
      </button>
    </div>
  </div>
</div>
