/**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0)
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License 3.0 (AFL-3.0)
 */

#exportDataToCsv {
    margin-right: 10px;
    margin-left: 10px;
}
#exportDataToPdf {
    margin-right: 10px;
    margin-left: 10px;
}
.psgdprinfo17 {
    margin-top: 15px;
    margin-bottom: 15px;
    background: #f1f1f1;
    padding: 20px;
}
.psgdprgetdatabtn17 {
    float: right;
}
.psgdprinfo16 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.psgdprgetdatabtn16{
    float: right;
    margin-right: 10px;
}
