/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none; }
  .pswp * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .pswp img {
    max-width: none; }

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--open {
  display: block; }

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: opacity; }

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.pswp__container,
.pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  /* for open/close transition */
  -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  -webkit-transition: none;
  transition: none; }

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden; }

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; }

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0; }

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden; }

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: #222; }

.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0; }

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC; }

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline; }

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*

	Contents:

	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/
/*
	
	1. Buttons

 */
/* <button> css reset */
.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .pswp__button:focus, .pswp__button:hover {
    opacity: 1; }
  .pswp__button:active {
    outline: none;
    opacity: 0.9; }
  .pswp__button::-moz-focus-inner {
    padding: 0;
    border: 0; }

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
  opacity: 1; }

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(e3f799c6dec9af194c86decdf7392405.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px; }

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(b257fa9c5ac8c515ac4d77a667ce2943.svg); }
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none; } }

.pswp__button--close {
  background-position: 0 -44px; }

.pswp__button--share {
  background-position: -44px -44px; }

.pswp__button--fs {
  display: none; }

.pswp--supports-fs .pswp__button--fs {
  display: block; }

.pswp--fs .pswp__button--fs {
  background-position: -44px 0; }

.pswp__button--zoom {
  display: none;
  background-position: -88px 0; }

.pswp--zoom-allowed .pswp__button--zoom {
  display: block; }

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0; }

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden; }

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute; }

.pswp__button--arrow--left {
  left: 0; }

.pswp__button--arrow--right {
  right: 0; }

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute; }

.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px; }

.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px; }

/*

	2. Share modal/popup and links

 */
.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
          transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity; }

.pswp__share-modal--hidden {
  display: none; }

.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-transition: -webkit-transform 0.25s;
          transition: transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform; }
  .pswp__share-tooltip a {
    display: block;
    padding: 8px 12px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px; }
    .pswp__share-tooltip a:hover {
      text-decoration: none;
      color: #000; }
    .pswp__share-tooltip a:first-child {
      /* round corners on the first/last list item */
      border-radius: 2px 2px 0 0; }
    .pswp__share-tooltip a:last-child {
      border-radius: 0 0 2px 2px; }

.pswp__share-modal--fade-in {
  opacity: 1; }
  .pswp__share-modal--fade-in .pswp__share-tooltip {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px; }

a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none; }

a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF; }
  a.pswp__share--facebook:hover:before {
    border-bottom-color: #3E5C9A; }

a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF; }

a.pswp__share--pinterest:hover {
  background: #CCC;
  color: #CE272D; }

a.pswp__share--download:hover {
  background: #DDD; }

/*

	3. Index indicator ("1 of X" counter)

 */
.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px; }

/*
	
	4. Caption

 */
.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px; }
  .pswp__caption small {
    font-size: 11px;
    color: #BBB; }

.pswp__caption__center {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC; }

.pswp__caption--empty {
  display: none; }

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
  visibility: hidden; }

/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */
.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
          transition: opacity 0.25s ease-out;
  will-change: opacity;
  direction: ltr; }

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px; }

.pswp__preloader--active {
  opacity: 1; }
  .pswp__preloader--active .pswp__preloader__icn {
    /* We use .gif in browsers that don't support CSS animation */
    background: url(e34aafbb485a96eaf2a789b2bf3af6fe.gif) 0 0 no-repeat; }

.pswp--css_animation .pswp__preloader--active {
  opacity: 1; }
  .pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
    -webkit-animation: clockwise 500ms linear infinite;
            animation: clockwise 500ms linear infinite; }
  .pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
    -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
            animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; }

.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: 0.75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0; }

.pswp--css_animation .pswp__preloader__cut {
  /* 
			The idea of animating inner circle is based on Polymer ("material") loading indicator 
			 by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
		*/
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden; }

.pswp--css_animation .pswp__preloader__donut {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0; }

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right; } }

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

/*
	
	6. Additional styles

 */
/* root element of UI */
.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1550; }

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%; }

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible; }

.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5); }

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(0, 0, 0, 0.3); }

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0; }

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0; }

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: 0.001; }

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none; }

.pswp__element--disabled {
  display: none !important; }

.pswp--minimal--dark .pswp__top-bar {
  background: none; }

@-webkit-keyframes showcase-img-appearance{from{opacity:0;-webkit-transform:translate(-20px);transform:translate(-20px)}to{opacity:1;-webkit-transform:translate(0);transform:translate(0)}}@keyframes showcase-img-appearance{from{opacity:0;-webkit-transform:translate(-20px);transform:translate(-20px)}to{opacity:1;-webkit-transform:translate(0);transform:translate(0)}}.align-baseline{vertical-align:baseline !important}.align-top{vertical-align:top !important}.align-middle{vertical-align:middle !important}.align-bottom{vertical-align:bottom !important}.align-text-bottom{vertical-align:text-bottom !important}.align-text-top{vertical-align:text-top !important}.bg-primary{background-color:#25b9d7 !important}a.bg-primary:hover,a.bg-primary:focus,button.bg-primary:hover,button.bg-primary:focus{background-color:#1e94ab !important}.bg-secondary{background-color:#6c868e !important}a.bg-secondary:hover,a.bg-secondary:focus,button.bg-secondary:hover,button.bg-secondary:focus{background-color:#566b71 !important}.bg-success{background-color:#70b580 !important}a.bg-success:hover,a.bg-success:focus,button.bg-success:hover,button.bg-success:focus{background-color:#539f64 !important}.bg-info{background-color:#25b9d7 !important}a.bg-info:hover,a.bg-info:focus,button.bg-info:hover,button.bg-info:focus{background-color:#1e94ab !important}.bg-warning{background-color:#fab000 !important}a.bg-warning:hover,a.bg-warning:focus,button.bg-warning:hover,button.bg-warning:focus{background-color:#c78c00 !important}.bg-danger{background-color:#f54c3e !important}a.bg-danger:hover,a.bg-danger:focus,button.bg-danger:hover,button.bg-danger:focus{background-color:#f21f0e !important}.bg-light{background-color:#fafbfc !important}a.bg-light:hover,a.bg-light:focus,button.bg-light:hover,button.bg-light:focus{background-color:#dae2e9 !important}.bg-dark{background-color:#363a41 !important}a.bg-dark:hover,a.bg-dark:focus,button.bg-dark:hover,button.bg-dark:focus{background-color:#1f2125 !important}.bg-white{background-color:#fff !important}.bg-transparent{background-color:transparent !important}.border{border:1px solid #bbcdd2 !important}.border-top{border-top:1px solid #bbcdd2 !important}.border-right{border-right:1px solid #bbcdd2 !important}.border-bottom{border-bottom:1px solid #bbcdd2 !important}.border-left{border-left:1px solid #bbcdd2 !important}.border-0{border:0 !important}.border-top-0{border-top:0 !important}.border-right-0{border-right:0 !important}.border-bottom-0{border-bottom:0 !important}.border-left-0{border-left:0 !important}.border-primary{border-color:#25b9d7 !important}.border-secondary{border-color:#6c868e !important}.border-success{border-color:#70b580 !important}.border-info{border-color:#25b9d7 !important}.border-warning{border-color:#fab000 !important}.border-danger{border-color:#f54c3e !important}.border-light{border-color:#fafbfc !important}.border-dark{border-color:#363a41 !important}.border-white{border-color:#fff !important}.rounded{border-radius:4px !important}.rounded-top{border-top-left-radius:4px !important;border-top-right-radius:4px !important}.rounded-right{border-top-right-radius:4px !important;border-bottom-right-radius:4px !important}.rounded-bottom{border-bottom-right-radius:4px !important;border-bottom-left-radius:4px !important}.rounded-left{border-top-left-radius:4px !important;border-bottom-left-radius:4px !important}.rounded-circle{border-radius:50% !important}.rounded-0{border-radius:0 !important}.clearfix::after{display:block;clear:both;content:""}.d-none{display:none !important}.d-inline{display:inline !important}.d-inline-block{display:inline-block !important}.d-block{display:block !important}.d-table{display:table !important}.d-table-row{display:table-row !important}.d-table-cell{display:table-cell !important}.d-flex,#related-product .typeahead-list li,#id-product-redirected .typeahead-list li,.redirect-option-widget .typeahead-list li{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}.d-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}@media (min-width: 544px){.d-sm-none{display:none !important}.d-sm-inline{display:inline !important}.d-sm-inline-block{display:inline-block !important}.d-sm-block{display:block !important}.d-sm-table{display:table !important}.d-sm-table-row{display:table-row !important}.d-sm-table-cell{display:table-cell !important}.d-sm-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}.d-sm-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}}@media (min-width: 768px){.d-md-none{display:none !important}.d-md-inline{display:inline !important}.d-md-inline-block{display:inline-block !important}.d-md-block{display:block !important}.d-md-table{display:table !important}.d-md-table-row{display:table-row !important}.d-md-table-cell{display:table-cell !important}.d-md-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}.d-md-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}}@media (min-width: 1024px){.d-lg-none{display:none !important}.d-lg-inline{display:inline !important}.d-lg-inline-block{display:inline-block !important}.d-lg-block{display:block !important}.d-lg-table{display:table !important}.d-lg-table-row{display:table-row !important}.d-lg-table-cell{display:table-cell !important}.d-lg-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}.d-lg-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}}@media (min-width: 1300px){.d-xl-none{display:none !important}.d-xl-inline{display:inline !important}.d-xl-inline-block{display:inline-block !important}.d-xl-block{display:block !important}.d-xl-table{display:table !important}.d-xl-table-row{display:table-row !important}.d-xl-table-cell{display:table-cell !important}.d-xl-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}.d-xl-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}}@media (min-width: 1600px){.d-xxl-none{display:none !important}.d-xxl-inline{display:inline !important}.d-xxl-inline-block{display:inline-block !important}.d-xxl-block{display:block !important}.d-xxl-table{display:table !important}.d-xxl-table-row{display:table-row !important}.d-xxl-table-cell{display:table-cell !important}.d-xxl-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}.d-xxl-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}}@media print{.d-print-none{display:none !important}.d-print-inline{display:inline !important}.d-print-inline-block{display:inline-block !important}.d-print-block{display:block !important}.d-print-table{display:table !important}.d-print-table-row{display:table-row !important}.d-print-table-cell{display:table-cell !important}.d-print-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}.d-print-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}}.embed-responsive{position:relative;display:block;width:100%;padding:0;overflow:hidden}.embed-responsive::before{display:block;content:""}.embed-responsive .embed-responsive-item,.embed-responsive iframe,.embed-responsive embed,.embed-responsive object,.embed-responsive video{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}.embed-responsive-21by9::before{padding-top:42.85714%}.embed-responsive-16by9::before{padding-top:56.25%}.embed-responsive-4by3::before{padding-top:75%}.embed-responsive-1by1::before{padding-top:100%}.flex-row{-webkit-box-orient:horizontal !important;-webkit-box-direction:normal !important;-ms-flex-direction:row !important;flex-direction:row !important}.flex-column{-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-ms-flex-direction:column !important;flex-direction:column !important}.flex-row-reverse{-webkit-box-orient:horizontal !important;-webkit-box-direction:reverse !important;-ms-flex-direction:row-reverse !important;flex-direction:row-reverse !important}.flex-column-reverse{-webkit-box-orient:vertical !important;-webkit-box-direction:reverse !important;-ms-flex-direction:column-reverse !important;flex-direction:column-reverse !important}.flex-wrap{-ms-flex-wrap:wrap !important;flex-wrap:wrap !important}.flex-nowrap{-ms-flex-wrap:nowrap !important;flex-wrap:nowrap !important}.flex-wrap-reverse{-ms-flex-wrap:wrap-reverse !important;flex-wrap:wrap-reverse !important}.justify-content-start{-webkit-box-pack:start !important;-ms-flex-pack:start !important;justify-content:flex-start !important}.justify-content-end{-webkit-box-pack:end !important;-ms-flex-pack:end !important;justify-content:flex-end !important}.justify-content-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}.justify-content-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}.justify-content-around{-ms-flex-pack:distribute !important;justify-content:space-around !important}.align-items-start{-webkit-box-align:start !important;-ms-flex-align:start !important;align-items:flex-start !important}.align-items-end{-webkit-box-align:end !important;-ms-flex-align:end !important;align-items:flex-end !important}.align-items-center,#related-product .typeahead-list li,#id-product-redirected .typeahead-list li,.redirect-option-widget .typeahead-list li{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}.align-items-baseline{-webkit-box-align:baseline !important;-ms-flex-align:baseline !important;align-items:baseline !important}.align-items-stretch{-webkit-box-align:stretch !important;-ms-flex-align:stretch !important;align-items:stretch !important}.align-content-start{-ms-flex-line-pack:start !important;align-content:flex-start !important}.align-content-end{-ms-flex-line-pack:end !important;align-content:flex-end !important}.align-content-center{-ms-flex-line-pack:center !important;align-content:center !important}.align-content-between{-ms-flex-line-pack:justify !important;align-content:space-between !important}.align-content-around{-ms-flex-line-pack:distribute !important;align-content:space-around !important}.align-content-stretch{-ms-flex-line-pack:stretch !important;align-content:stretch !important}.align-self-auto{-ms-flex-item-align:auto !important;align-self:auto !important}.align-self-start{-ms-flex-item-align:start !important;align-self:flex-start !important}.align-self-end{-ms-flex-item-align:end !important;align-self:flex-end !important}.align-self-center{-ms-flex-item-align:center !important;align-self:center !important}.align-self-baseline{-ms-flex-item-align:baseline !important;align-self:baseline !important}.align-self-stretch{-ms-flex-item-align:stretch !important;align-self:stretch !important}@media (min-width: 544px){.flex-sm-row{-webkit-box-orient:horizontal !important;-webkit-box-direction:normal !important;-ms-flex-direction:row !important;flex-direction:row !important}.flex-sm-column{-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-ms-flex-direction:column !important;flex-direction:column !important}.flex-sm-row-reverse{-webkit-box-orient:horizontal !important;-webkit-box-direction:reverse !important;-ms-flex-direction:row-reverse !important;flex-direction:row-reverse !important}.flex-sm-column-reverse{-webkit-box-orient:vertical !important;-webkit-box-direction:reverse !important;-ms-flex-direction:column-reverse !important;flex-direction:column-reverse !important}.flex-sm-wrap{-ms-flex-wrap:wrap !important;flex-wrap:wrap !important}.flex-sm-nowrap{-ms-flex-wrap:nowrap !important;flex-wrap:nowrap !important}.flex-sm-wrap-reverse{-ms-flex-wrap:wrap-reverse !important;flex-wrap:wrap-reverse !important}.justify-content-sm-start{-webkit-box-pack:start !important;-ms-flex-pack:start !important;justify-content:flex-start !important}.justify-content-sm-end{-webkit-box-pack:end !important;-ms-flex-pack:end !important;justify-content:flex-end !important}.justify-content-sm-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}.justify-content-sm-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}.justify-content-sm-around{-ms-flex-pack:distribute !important;justify-content:space-around !important}.align-items-sm-start{-webkit-box-align:start !important;-ms-flex-align:start !important;align-items:flex-start !important}.align-items-sm-end{-webkit-box-align:end !important;-ms-flex-align:end !important;align-items:flex-end !important}.align-items-sm-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}.align-items-sm-baseline{-webkit-box-align:baseline !important;-ms-flex-align:baseline !important;align-items:baseline !important}.align-items-sm-stretch{-webkit-box-align:stretch !important;-ms-flex-align:stretch !important;align-items:stretch !important}.align-content-sm-start{-ms-flex-line-pack:start !important;align-content:flex-start !important}.align-content-sm-end{-ms-flex-line-pack:end !important;align-content:flex-end !important}.align-content-sm-center{-ms-flex-line-pack:center !important;align-content:center !important}.align-content-sm-between{-ms-flex-line-pack:justify !important;align-content:space-between !important}.align-content-sm-around{-ms-flex-line-pack:distribute !important;align-content:space-around !important}.align-content-sm-stretch{-ms-flex-line-pack:stretch !important;align-content:stretch !important}.align-self-sm-auto{-ms-flex-item-align:auto !important;align-self:auto !important}.align-self-sm-start{-ms-flex-item-align:start !important;align-self:flex-start !important}.align-self-sm-end{-ms-flex-item-align:end !important;align-self:flex-end !important}.align-self-sm-center{-ms-flex-item-align:center !important;align-self:center !important}.align-self-sm-baseline{-ms-flex-item-align:baseline !important;align-self:baseline !important}.align-self-sm-stretch{-ms-flex-item-align:stretch !important;align-self:stretch !important}}@media (min-width: 768px){.flex-md-row{-webkit-box-orient:horizontal !important;-webkit-box-direction:normal !important;-ms-flex-direction:row !important;flex-direction:row !important}.flex-md-column{-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-ms-flex-direction:column !important;flex-direction:column !important}.flex-md-row-reverse{-webkit-box-orient:horizontal !important;-webkit-box-direction:reverse !important;-ms-flex-direction:row-reverse !important;flex-direction:row-reverse !important}.flex-md-column-reverse{-webkit-box-orient:vertical !important;-webkit-box-direction:reverse !important;-ms-flex-direction:column-reverse !important;flex-direction:column-reverse !important}.flex-md-wrap{-ms-flex-wrap:wrap !important;flex-wrap:wrap !important}.flex-md-nowrap{-ms-flex-wrap:nowrap !important;flex-wrap:nowrap !important}.flex-md-wrap-reverse{-ms-flex-wrap:wrap-reverse !important;flex-wrap:wrap-reverse !important}.justify-content-md-start{-webkit-box-pack:start !important;-ms-flex-pack:start !important;justify-content:flex-start !important}.justify-content-md-end{-webkit-box-pack:end !important;-ms-flex-pack:end !important;justify-content:flex-end !important}.justify-content-md-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}.justify-content-md-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}.justify-content-md-around{-ms-flex-pack:distribute !important;justify-content:space-around !important}.align-items-md-start{-webkit-box-align:start !important;-ms-flex-align:start !important;align-items:flex-start !important}.align-items-md-end{-webkit-box-align:end !important;-ms-flex-align:end !important;align-items:flex-end !important}.align-items-md-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}.align-items-md-baseline{-webkit-box-align:baseline !important;-ms-flex-align:baseline !important;align-items:baseline !important}.align-items-md-stretch{-webkit-box-align:stretch !important;-ms-flex-align:stretch !important;align-items:stretch !important}.align-content-md-start{-ms-flex-line-pack:start !important;align-content:flex-start !important}.align-content-md-end{-ms-flex-line-pack:end !important;align-content:flex-end !important}.align-content-md-center{-ms-flex-line-pack:center !important;align-content:center !important}.align-content-md-between{-ms-flex-line-pack:justify !important;align-content:space-between !important}.align-content-md-around{-ms-flex-line-pack:distribute !important;align-content:space-around !important}.align-content-md-stretch{-ms-flex-line-pack:stretch !important;align-content:stretch !important}.align-self-md-auto{-ms-flex-item-align:auto !important;align-self:auto !important}.align-self-md-start{-ms-flex-item-align:start !important;align-self:flex-start !important}.align-self-md-end{-ms-flex-item-align:end !important;align-self:flex-end !important}.align-self-md-center{-ms-flex-item-align:center !important;align-self:center !important}.align-self-md-baseline{-ms-flex-item-align:baseline !important;align-self:baseline !important}.align-self-md-stretch{-ms-flex-item-align:stretch !important;align-self:stretch !important}}@media (min-width: 1024px){.flex-lg-row{-webkit-box-orient:horizontal !important;-webkit-box-direction:normal !important;-ms-flex-direction:row !important;flex-direction:row !important}.flex-lg-column{-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-ms-flex-direction:column !important;flex-direction:column !important}.flex-lg-row-reverse{-webkit-box-orient:horizontal !important;-webkit-box-direction:reverse !important;-ms-flex-direction:row-reverse !important;flex-direction:row-reverse !important}.flex-lg-column-reverse{-webkit-box-orient:vertical !important;-webkit-box-direction:reverse !important;-ms-flex-direction:column-reverse !important;flex-direction:column-reverse !important}.flex-lg-wrap{-ms-flex-wrap:wrap !important;flex-wrap:wrap !important}.flex-lg-nowrap{-ms-flex-wrap:nowrap !important;flex-wrap:nowrap !important}.flex-lg-wrap-reverse{-ms-flex-wrap:wrap-reverse !important;flex-wrap:wrap-reverse !important}.justify-content-lg-start{-webkit-box-pack:start !important;-ms-flex-pack:start !important;justify-content:flex-start !important}.justify-content-lg-end{-webkit-box-pack:end !important;-ms-flex-pack:end !important;justify-content:flex-end !important}.justify-content-lg-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}.justify-content-lg-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}.justify-content-lg-around{-ms-flex-pack:distribute !important;justify-content:space-around !important}.align-items-lg-start{-webkit-box-align:start !important;-ms-flex-align:start !important;align-items:flex-start !important}.align-items-lg-end{-webkit-box-align:end !important;-ms-flex-align:end !important;align-items:flex-end !important}.align-items-lg-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}.align-items-lg-baseline{-webkit-box-align:baseline !important;-ms-flex-align:baseline !important;align-items:baseline !important}.align-items-lg-stretch{-webkit-box-align:stretch !important;-ms-flex-align:stretch !important;align-items:stretch !important}.align-content-lg-start{-ms-flex-line-pack:start !important;align-content:flex-start !important}.align-content-lg-end{-ms-flex-line-pack:end !important;align-content:flex-end !important}.align-content-lg-center{-ms-flex-line-pack:center !important;align-content:center !important}.align-content-lg-between{-ms-flex-line-pack:justify !important;align-content:space-between !important}.align-content-lg-around{-ms-flex-line-pack:distribute !important;align-content:space-around !important}.align-content-lg-stretch{-ms-flex-line-pack:stretch !important;align-content:stretch !important}.align-self-lg-auto{-ms-flex-item-align:auto !important;align-self:auto !important}.align-self-lg-start{-ms-flex-item-align:start !important;align-self:flex-start !important}.align-self-lg-end{-ms-flex-item-align:end !important;align-self:flex-end !important}.align-self-lg-center{-ms-flex-item-align:center !important;align-self:center !important}.align-self-lg-baseline{-ms-flex-item-align:baseline !important;align-self:baseline !important}.align-self-lg-stretch{-ms-flex-item-align:stretch !important;align-self:stretch !important}}@media (min-width: 1300px){.flex-xl-row{-webkit-box-orient:horizontal !important;-webkit-box-direction:normal !important;-ms-flex-direction:row !important;flex-direction:row !important}.flex-xl-column{-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-ms-flex-direction:column !important;flex-direction:column !important}.flex-xl-row-reverse{-webkit-box-orient:horizontal !important;-webkit-box-direction:reverse !important;-ms-flex-direction:row-reverse !important;flex-direction:row-reverse !important}.flex-xl-column-reverse{-webkit-box-orient:vertical !important;-webkit-box-direction:reverse !important;-ms-flex-direction:column-reverse !important;flex-direction:column-reverse !important}.flex-xl-wrap{-ms-flex-wrap:wrap !important;flex-wrap:wrap !important}.flex-xl-nowrap{-ms-flex-wrap:nowrap !important;flex-wrap:nowrap !important}.flex-xl-wrap-reverse{-ms-flex-wrap:wrap-reverse !important;flex-wrap:wrap-reverse !important}.justify-content-xl-start{-webkit-box-pack:start !important;-ms-flex-pack:start !important;justify-content:flex-start !important}.justify-content-xl-end{-webkit-box-pack:end !important;-ms-flex-pack:end !important;justify-content:flex-end !important}.justify-content-xl-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}.justify-content-xl-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}.justify-content-xl-around{-ms-flex-pack:distribute !important;justify-content:space-around !important}.align-items-xl-start{-webkit-box-align:start !important;-ms-flex-align:start !important;align-items:flex-start !important}.align-items-xl-end{-webkit-box-align:end !important;-ms-flex-align:end !important;align-items:flex-end !important}.align-items-xl-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}.align-items-xl-baseline{-webkit-box-align:baseline !important;-ms-flex-align:baseline !important;align-items:baseline !important}.align-items-xl-stretch{-webkit-box-align:stretch !important;-ms-flex-align:stretch !important;align-items:stretch !important}.align-content-xl-start{-ms-flex-line-pack:start !important;align-content:flex-start !important}.align-content-xl-end{-ms-flex-line-pack:end !important;align-content:flex-end !important}.align-content-xl-center{-ms-flex-line-pack:center !important;align-content:center !important}.align-content-xl-between{-ms-flex-line-pack:justify !important;align-content:space-between !important}.align-content-xl-around{-ms-flex-line-pack:distribute !important;align-content:space-around !important}.align-content-xl-stretch{-ms-flex-line-pack:stretch !important;align-content:stretch !important}.align-self-xl-auto{-ms-flex-item-align:auto !important;align-self:auto !important}.align-self-xl-start{-ms-flex-item-align:start !important;align-self:flex-start !important}.align-self-xl-end{-ms-flex-item-align:end !important;align-self:flex-end !important}.align-self-xl-center{-ms-flex-item-align:center !important;align-self:center !important}.align-self-xl-baseline{-ms-flex-item-align:baseline !important;align-self:baseline !important}.align-self-xl-stretch{-ms-flex-item-align:stretch !important;align-self:stretch !important}}@media (min-width: 1600px){.flex-xxl-row{-webkit-box-orient:horizontal !important;-webkit-box-direction:normal !important;-ms-flex-direction:row !important;flex-direction:row !important}.flex-xxl-column{-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-ms-flex-direction:column !important;flex-direction:column !important}.flex-xxl-row-reverse{-webkit-box-orient:horizontal !important;-webkit-box-direction:reverse !important;-ms-flex-direction:row-reverse !important;flex-direction:row-reverse !important}.flex-xxl-column-reverse{-webkit-box-orient:vertical !important;-webkit-box-direction:reverse !important;-ms-flex-direction:column-reverse !important;flex-direction:column-reverse !important}.flex-xxl-wrap{-ms-flex-wrap:wrap !important;flex-wrap:wrap !important}.flex-xxl-nowrap{-ms-flex-wrap:nowrap !important;flex-wrap:nowrap !important}.flex-xxl-wrap-reverse{-ms-flex-wrap:wrap-reverse !important;flex-wrap:wrap-reverse !important}.justify-content-xxl-start{-webkit-box-pack:start !important;-ms-flex-pack:start !important;justify-content:flex-start !important}.justify-content-xxl-end{-webkit-box-pack:end !important;-ms-flex-pack:end !important;justify-content:flex-end !important}.justify-content-xxl-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}.justify-content-xxl-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}.justify-content-xxl-around{-ms-flex-pack:distribute !important;justify-content:space-around !important}.align-items-xxl-start{-webkit-box-align:start !important;-ms-flex-align:start !important;align-items:flex-start !important}.align-items-xxl-end{-webkit-box-align:end !important;-ms-flex-align:end !important;align-items:flex-end !important}.align-items-xxl-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}.align-items-xxl-baseline{-webkit-box-align:baseline !important;-ms-flex-align:baseline !important;align-items:baseline !important}.align-items-xxl-stretch{-webkit-box-align:stretch !important;-ms-flex-align:stretch !important;align-items:stretch !important}.align-content-xxl-start{-ms-flex-line-pack:start !important;align-content:flex-start !important}.align-content-xxl-end{-ms-flex-line-pack:end !important;align-content:flex-end !important}.align-content-xxl-center{-ms-flex-line-pack:center !important;align-content:center !important}.align-content-xxl-between{-ms-flex-line-pack:justify !important;align-content:space-between !important}.align-content-xxl-around{-ms-flex-line-pack:distribute !important;align-content:space-around !important}.align-content-xxl-stretch{-ms-flex-line-pack:stretch !important;align-content:stretch !important}.align-self-xxl-auto{-ms-flex-item-align:auto !important;align-self:auto !important}.align-self-xxl-start{-ms-flex-item-align:start !important;align-self:flex-start !important}.align-self-xxl-end{-ms-flex-item-align:end !important;align-self:flex-end !important}.align-self-xxl-center{-ms-flex-item-align:center !important;align-self:center !important}.align-self-xxl-baseline{-ms-flex-item-align:baseline !important;align-self:baseline !important}.align-self-xxl-stretch{-ms-flex-item-align:stretch !important;align-self:stretch !important}}.float-left{float:left !important}.float-right{float:right !important}.float-none{float:none !important}@media (min-width: 544px){.float-sm-left{float:left !important}.float-sm-right{float:right !important}.float-sm-none{float:none !important}}@media (min-width: 768px){.float-md-left{float:left !important}.float-md-right{float:right !important}.float-md-none{float:none !important}}@media (min-width: 1024px){.float-lg-left{float:left !important}.float-lg-right{float:right !important}.float-lg-none{float:none !important}}@media (min-width: 1300px){.float-xl-left{float:left !important}.float-xl-right{float:right !important}.float-xl-none{float:none !important}}@media (min-width: 1600px){.float-xxl-left{float:left !important}.float-xxl-right{float:right !important}.float-xxl-none{float:none !important}}.position-static{position:static !important}.position-relative{position:relative !important}.position-absolute{position:absolute !important}.position-fixed{position:fixed !important}.position-sticky{position:-webkit-sticky !important;position:sticky !important}.fixed-top{position:fixed;top:0;right:0;left:0;z-index:1030}.fixed-bottom{position:fixed;right:0;bottom:0;left:0;z-index:1030}@supports ((position: -webkit-sticky) or (position: sticky)){.sticky-top{position:-webkit-sticky;position:sticky;top:0;z-index:1020}}.sr-only{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;-webkit-clip-path:inset(50%);clip-path:inset(50%);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;overflow:visible;clip:auto;white-space:normal;-webkit-clip-path:none;clip-path:none}.w-25{width:25% !important}.w-50{width:50% !important}.w-75{width:75% !important}.w-100{width:100% !important}.h-25{height:25% !important}.h-50{height:50% !important}.h-75{height:75% !important}.h-100{height:100% !important}.mw-100{max-width:100% !important}.mh-100{max-height:100% !important}.m-0{margin:0 !important}.mt-0,.my-0{margin-top:0 !important}.mr-0,.mx-0{margin-right:0 !important}.mb-0,.my-0{margin-bottom:0 !important}.ml-0,.mx-0{margin-left:0 !important}.m-1{margin:.3125rem !important}.mt-1,#related-product .typeahead-list li,#id-product-redirected .typeahead-list li,.redirect-option-widget .typeahead-list li,.my-1{margin-top:.3125rem !important}.mr-1,.mx-1,#related-product .typeahead-list li>.media-body .label,#id-product-redirected .typeahead-list li>.media-body .label,.redirect-option-widget .typeahead-list li>.media-body .label{margin-right:.3125rem !important}.mb-1,.my-1{margin-bottom:.3125rem !important}.ml-1,.mx-1,#related-product .typeahead-list li>.media-body .label,#id-product-redirected .typeahead-list li>.media-body .label,.redirect-option-widget .typeahead-list li>.media-body .label{margin-left:.3125rem !important}.m-2{margin:.625rem !important}.mt-2,.my-2{margin-top:.625rem !important}.mr-2,.mx-2{margin-right:.625rem !important}.mb-2,.my-2{margin-bottom:.625rem !important}.ml-2,.mx-2{margin-left:.625rem !important}.m-3{margin:.9375rem !important}.mt-3,.my-3{margin-top:.9375rem !important}.mr-3,.mx-3{margin-right:.9375rem !important}.mb-3,.my-3{margin-bottom:.9375rem !important}.ml-3,.mx-3{margin-left:.9375rem !important}.m-4{margin:1.875rem !important}.mt-4,.my-4{margin-top:1.875rem !important}.mr-4,.mx-4{margin-right:1.875rem !important}.mb-4,.my-4{margin-bottom:1.875rem !important}.ml-4,.mx-4{margin-left:1.875rem !important}.m-5{margin:3.75rem !important}.mt-5,.my-5{margin-top:3.75rem !important}.mr-5,.mx-5{margin-right:3.75rem !important}.mb-5,.my-5{margin-bottom:3.75rem !important}.ml-5,.mx-5{margin-left:3.75rem !important}.p-0{padding:0 !important}.pt-0,.py-0{padding-top:0 !important}.pr-0,.px-0{padding-right:0 !important}.pb-0,.py-0{padding-bottom:0 !important}.pl-0,.px-0{padding-left:0 !important}.p-1,#related-product .typeahead-list li,#id-product-redirected .typeahead-list li,.redirect-option-widget .typeahead-list li{padding:.3125rem !important}.pt-1,.py-1{padding-top:.3125rem !important}.pr-1,.px-1{padding-right:.3125rem !important}.pb-1,.py-1{padding-bottom:.3125rem !important}.pl-1,.px-1{padding-left:.3125rem !important}.p-2{padding:.625rem !important}.pt-2,.py-2,.product-page #bulk-combinations-container #bulk-combinations-container-fields>div{padding-top:.625rem !important}.pr-2,.px-2{padding-right:.625rem !important}.pb-2,.py-2,.product-page #bulk-combinations-container #bulk-combinations-container-fields>div{padding-bottom:.625rem !important}.pl-2,.px-2{padding-left:.625rem !important}.p-3{padding:.9375rem !important}.pt-3,.py-3{padding-top:.9375rem !important}.pr-3,.px-3,.product-page #bulk-combinations-container #bulk-combinations-container-fields>div{padding-right:.9375rem !important}.pb-3,.py-3{padding-bottom:.9375rem !important}.pl-3,.px-3,.product-page #bulk-combinations-container #bulk-combinations-container-fields>div{padding-left:.9375rem !important}.p-4{padding:1.875rem !important}.pt-4,.py-4{padding-top:1.875rem !important}.pr-4,.px-4{padding-right:1.875rem !important}.pb-4,.py-4{padding-bottom:1.875rem !important}.pl-4,.px-4{padding-left:1.875rem !important}.p-5{padding:3.75rem !important}.pt-5,.py-5{padding-top:3.75rem !important}.pr-5,.px-5{padding-right:3.75rem !important}.pb-5,.py-5{padding-bottom:3.75rem !important}.pl-5,.px-5{padding-left:3.75rem !important}.m-auto{margin:auto !important}.mt-auto,.my-auto{margin-top:auto !important}.mr-auto,.mx-auto{margin-right:auto !important}.mb-auto,.my-auto{margin-bottom:auto !important}.ml-auto,.mx-auto{margin-left:auto !important}@media (min-width: 544px){.m-sm-0{margin:0 !important}.mt-sm-0,.my-sm-0{margin-top:0 !important}.mr-sm-0,.mx-sm-0{margin-right:0 !important}.mb-sm-0,.my-sm-0{margin-bottom:0 !important}.ml-sm-0,.mx-sm-0{margin-left:0 !important}.m-sm-1{margin:.3125rem !important}.mt-sm-1,.my-sm-1{margin-top:.3125rem !important}.mr-sm-1,.mx-sm-1{margin-right:.3125rem !important}.mb-sm-1,.my-sm-1{margin-bottom:.3125rem !important}.ml-sm-1,.mx-sm-1{margin-left:.3125rem !important}.m-sm-2{margin:.625rem !important}.mt-sm-2,.my-sm-2{margin-top:.625rem !important}.mr-sm-2,.mx-sm-2{margin-right:.625rem !important}.mb-sm-2,.my-sm-2{margin-bottom:.625rem !important}.ml-sm-2,.mx-sm-2{margin-left:.625rem !important}.m-sm-3{margin:.9375rem !important}.mt-sm-3,.my-sm-3{margin-top:.9375rem !important}.mr-sm-3,.mx-sm-3{margin-right:.9375rem !important}.mb-sm-3,.my-sm-3{margin-bottom:.9375rem !important}.ml-sm-3,.mx-sm-3{margin-left:.9375rem !important}.m-sm-4{margin:1.875rem !important}.mt-sm-4,.my-sm-4{margin-top:1.875rem !important}.mr-sm-4,.mx-sm-4{margin-right:1.875rem !important}.mb-sm-4,.my-sm-4{margin-bottom:1.875rem !important}.ml-sm-4,.mx-sm-4{margin-left:1.875rem !important}.m-sm-5{margin:3.75rem !important}.mt-sm-5,.my-sm-5{margin-top:3.75rem !important}.mr-sm-5,.mx-sm-5{margin-right:3.75rem !important}.mb-sm-5,.my-sm-5{margin-bottom:3.75rem !important}.ml-sm-5,.mx-sm-5{margin-left:3.75rem !important}.p-sm-0{padding:0 !important}.pt-sm-0,.py-sm-0{padding-top:0 !important}.pr-sm-0,.px-sm-0{padding-right:0 !important}.pb-sm-0,.py-sm-0{padding-bottom:0 !important}.pl-sm-0,.px-sm-0{padding-left:0 !important}.p-sm-1{padding:.3125rem !important}.pt-sm-1,.py-sm-1{padding-top:.3125rem !important}.pr-sm-1,.px-sm-1{padding-right:.3125rem !important}.pb-sm-1,.py-sm-1{padding-bottom:.3125rem !important}.pl-sm-1,.px-sm-1{padding-left:.3125rem !important}.p-sm-2{padding:.625rem !important}.pt-sm-2,.py-sm-2{padding-top:.625rem !important}.pr-sm-2,.px-sm-2{padding-right:.625rem !important}.pb-sm-2,.py-sm-2{padding-bottom:.625rem !important}.pl-sm-2,.px-sm-2{padding-left:.625rem !important}.p-sm-3{padding:.9375rem !important}.pt-sm-3,.py-sm-3{padding-top:.9375rem !important}.pr-sm-3,.px-sm-3{padding-right:.9375rem !important}.pb-sm-3,.py-sm-3{padding-bottom:.9375rem !important}.pl-sm-3,.px-sm-3{padding-left:.9375rem !important}.p-sm-4{padding:1.875rem !important}.pt-sm-4,.py-sm-4{padding-top:1.875rem !important}.pr-sm-4,.px-sm-4{padding-right:1.875rem !important}.pb-sm-4,.py-sm-4{padding-bottom:1.875rem !important}.pl-sm-4,.px-sm-4{padding-left:1.875rem !important}.p-sm-5{padding:3.75rem !important}.pt-sm-5,.py-sm-5{padding-top:3.75rem !important}.pr-sm-5,.px-sm-5{padding-right:3.75rem !important}.pb-sm-5,.py-sm-5{padding-bottom:3.75rem !important}.pl-sm-5,.px-sm-5{padding-left:3.75rem !important}.m-sm-auto{margin:auto !important}.mt-sm-auto,.my-sm-auto{margin-top:auto !important}.mr-sm-auto,.mx-sm-auto{margin-right:auto !important}.mb-sm-auto,.my-sm-auto{margin-bottom:auto !important}.ml-sm-auto,.mx-sm-auto{margin-left:auto !important}}@media (min-width: 768px){.m-md-0{margin:0 !important}.mt-md-0,.my-md-0{margin-top:0 !important}.mr-md-0,.mx-md-0{margin-right:0 !important}.mb-md-0,.my-md-0{margin-bottom:0 !important}.ml-md-0,.mx-md-0{margin-left:0 !important}.m-md-1{margin:.3125rem !important}.mt-md-1,.my-md-1{margin-top:.3125rem !important}.mr-md-1,.mx-md-1{margin-right:.3125rem !important}.mb-md-1,.my-md-1{margin-bottom:.3125rem !important}.ml-md-1,.mx-md-1{margin-left:.3125rem !important}.m-md-2{margin:.625rem !important}.mt-md-2,.my-md-2{margin-top:.625rem !important}.mr-md-2,.mx-md-2{margin-right:.625rem !important}.mb-md-2,.my-md-2{margin-bottom:.625rem !important}.ml-md-2,.mx-md-2{margin-left:.625rem !important}.m-md-3{margin:.9375rem !important}.mt-md-3,.my-md-3{margin-top:.9375rem !important}.mr-md-3,.mx-md-3{margin-right:.9375rem !important}.mb-md-3,.my-md-3{margin-bottom:.9375rem !important}.ml-md-3,.mx-md-3{margin-left:.9375rem !important}.m-md-4{margin:1.875rem !important}.mt-md-4,.my-md-4{margin-top:1.875rem !important}.mr-md-4,.mx-md-4{margin-right:1.875rem !important}.mb-md-4,.my-md-4{margin-bottom:1.875rem !important}.ml-md-4,.mx-md-4{margin-left:1.875rem !important}.m-md-5{margin:3.75rem !important}.mt-md-5,.my-md-5{margin-top:3.75rem !important}.mr-md-5,.mx-md-5{margin-right:3.75rem !important}.mb-md-5,.my-md-5{margin-bottom:3.75rem !important}.ml-md-5,.mx-md-5{margin-left:3.75rem !important}.p-md-0{padding:0 !important}.pt-md-0,.py-md-0{padding-top:0 !important}.pr-md-0,.px-md-0{padding-right:0 !important}.pb-md-0,.py-md-0{padding-bottom:0 !important}.pl-md-0,.px-md-0{padding-left:0 !important}.p-md-1{padding:.3125rem !important}.pt-md-1,.py-md-1{padding-top:.3125rem !important}.pr-md-1,.px-md-1{padding-right:.3125rem !important}.pb-md-1,.py-md-1{padding-bottom:.3125rem !important}.pl-md-1,.px-md-1{padding-left:.3125rem !important}.p-md-2{padding:.625rem !important}.pt-md-2,.py-md-2{padding-top:.625rem !important}.pr-md-2,.px-md-2{padding-right:.625rem !important}.pb-md-2,.py-md-2{padding-bottom:.625rem !important}.pl-md-2,.px-md-2{padding-left:.625rem !important}.p-md-3{padding:.9375rem !important}.pt-md-3,.py-md-3{padding-top:.9375rem !important}.pr-md-3,.px-md-3{padding-right:.9375rem !important}.pb-md-3,.py-md-3{padding-bottom:.9375rem !important}.pl-md-3,.px-md-3{padding-left:.9375rem !important}.p-md-4{padding:1.875rem !important}.pt-md-4,.py-md-4{padding-top:1.875rem !important}.pr-md-4,.px-md-4{padding-right:1.875rem !important}.pb-md-4,.py-md-4{padding-bottom:1.875rem !important}.pl-md-4,.px-md-4{padding-left:1.875rem !important}.p-md-5{padding:3.75rem !important}.pt-md-5,.py-md-5{padding-top:3.75rem !important}.pr-md-5,.px-md-5{padding-right:3.75rem !important}.pb-md-5,.py-md-5{padding-bottom:3.75rem !important}.pl-md-5,.px-md-5{padding-left:3.75rem !important}.m-md-auto{margin:auto !important}.mt-md-auto,.my-md-auto{margin-top:auto !important}.mr-md-auto,.mx-md-auto{margin-right:auto !important}.mb-md-auto,.my-md-auto{margin-bottom:auto !important}.ml-md-auto,.mx-md-auto{margin-left:auto !important}}@media (min-width: 1024px){.m-lg-0{margin:0 !important}.mt-lg-0,.my-lg-0{margin-top:0 !important}.mr-lg-0,.mx-lg-0{margin-right:0 !important}.mb-lg-0,.my-lg-0{margin-bottom:0 !important}.ml-lg-0,.mx-lg-0{margin-left:0 !important}.m-lg-1{margin:.3125rem !important}.mt-lg-1,.my-lg-1{margin-top:.3125rem !important}.mr-lg-1,.mx-lg-1{margin-right:.3125rem !important}.mb-lg-1,.my-lg-1{margin-bottom:.3125rem !important}.ml-lg-1,.mx-lg-1{margin-left:.3125rem !important}.m-lg-2{margin:.625rem !important}.mt-lg-2,.my-lg-2{margin-top:.625rem !important}.mr-lg-2,.mx-lg-2{margin-right:.625rem !important}.mb-lg-2,.my-lg-2{margin-bottom:.625rem !important}.ml-lg-2,.mx-lg-2{margin-left:.625rem !important}.m-lg-3{margin:.9375rem !important}.mt-lg-3,.my-lg-3{margin-top:.9375rem !important}.mr-lg-3,.mx-lg-3{margin-right:.9375rem !important}.mb-lg-3,.my-lg-3{margin-bottom:.9375rem !important}.ml-lg-3,.mx-lg-3{margin-left:.9375rem !important}.m-lg-4{margin:1.875rem !important}.mt-lg-4,.my-lg-4{margin-top:1.875rem !important}.mr-lg-4,.mx-lg-4{margin-right:1.875rem !important}.mb-lg-4,.my-lg-4{margin-bottom:1.875rem !important}.ml-lg-4,.mx-lg-4{margin-left:1.875rem !important}.m-lg-5{margin:3.75rem !important}.mt-lg-5,.my-lg-5{margin-top:3.75rem !important}.mr-lg-5,.mx-lg-5{margin-right:3.75rem !important}.mb-lg-5,.my-lg-5{margin-bottom:3.75rem !important}.ml-lg-5,.mx-lg-5{margin-left:3.75rem !important}.p-lg-0{padding:0 !important}.pt-lg-0,.py-lg-0{padding-top:0 !important}.pr-lg-0,.px-lg-0{padding-right:0 !important}.pb-lg-0,.py-lg-0{padding-bottom:0 !important}.pl-lg-0,.px-lg-0{padding-left:0 !important}.p-lg-1{padding:.3125rem !important}.pt-lg-1,.py-lg-1{padding-top:.3125rem !important}.pr-lg-1,.px-lg-1{padding-right:.3125rem !important}.pb-lg-1,.py-lg-1{padding-bottom:.3125rem !important}.pl-lg-1,.px-lg-1{padding-left:.3125rem !important}.p-lg-2{padding:.625rem !important}.pt-lg-2,.py-lg-2{padding-top:.625rem !important}.pr-lg-2,.px-lg-2{padding-right:.625rem !important}.pb-lg-2,.py-lg-2{padding-bottom:.625rem !important}.pl-lg-2,.px-lg-2{padding-left:.625rem !important}.p-lg-3{padding:.9375rem !important}.pt-lg-3,.py-lg-3{padding-top:.9375rem !important}.pr-lg-3,.px-lg-3{padding-right:.9375rem !important}.pb-lg-3,.py-lg-3{padding-bottom:.9375rem !important}.pl-lg-3,.px-lg-3{padding-left:.9375rem !important}.p-lg-4{padding:1.875rem !important}.pt-lg-4,.py-lg-4{padding-top:1.875rem !important}.pr-lg-4,.px-lg-4{padding-right:1.875rem !important}.pb-lg-4,.py-lg-4{padding-bottom:1.875rem !important}.pl-lg-4,.px-lg-4{padding-left:1.875rem !important}.p-lg-5{padding:3.75rem !important}.pt-lg-5,.py-lg-5{padding-top:3.75rem !important}.pr-lg-5,.px-lg-5{padding-right:3.75rem !important}.pb-lg-5,.py-lg-5{padding-bottom:3.75rem !important}.pl-lg-5,.px-lg-5{padding-left:3.75rem !important}.m-lg-auto{margin:auto !important}.mt-lg-auto,.my-lg-auto{margin-top:auto !important}.mr-lg-auto,.mx-lg-auto{margin-right:auto !important}.mb-lg-auto,.my-lg-auto{margin-bottom:auto !important}.ml-lg-auto,.mx-lg-auto{margin-left:auto !important}}@media (min-width: 1300px){.m-xl-0{margin:0 !important}.mt-xl-0,.my-xl-0{margin-top:0 !important}.mr-xl-0,.mx-xl-0{margin-right:0 !important}.mb-xl-0,.my-xl-0{margin-bottom:0 !important}.ml-xl-0,.mx-xl-0{margin-left:0 !important}.m-xl-1{margin:.3125rem !important}.mt-xl-1,.my-xl-1{margin-top:.3125rem !important}.mr-xl-1,.mx-xl-1{margin-right:.3125rem !important}.mb-xl-1,.my-xl-1{margin-bottom:.3125rem !important}.ml-xl-1,.mx-xl-1{margin-left:.3125rem !important}.m-xl-2{margin:.625rem !important}.mt-xl-2,.my-xl-2{margin-top:.625rem !important}.mr-xl-2,.mx-xl-2{margin-right:.625rem !important}.mb-xl-2,.my-xl-2{margin-bottom:.625rem !important}.ml-xl-2,.mx-xl-2{margin-left:.625rem !important}.m-xl-3{margin:.9375rem !important}.mt-xl-3,.my-xl-3{margin-top:.9375rem !important}.mr-xl-3,.mx-xl-3{margin-right:.9375rem !important}.mb-xl-3,.my-xl-3{margin-bottom:.9375rem !important}.ml-xl-3,.mx-xl-3{margin-left:.9375rem !important}.m-xl-4{margin:1.875rem !important}.mt-xl-4,.my-xl-4{margin-top:1.875rem !important}.mr-xl-4,.mx-xl-4{margin-right:1.875rem !important}.mb-xl-4,.my-xl-4{margin-bottom:1.875rem !important}.ml-xl-4,.mx-xl-4{margin-left:1.875rem !important}.m-xl-5{margin:3.75rem !important}.mt-xl-5,.my-xl-5{margin-top:3.75rem !important}.mr-xl-5,.mx-xl-5{margin-right:3.75rem !important}.mb-xl-5,.my-xl-5{margin-bottom:3.75rem !important}.ml-xl-5,.mx-xl-5{margin-left:3.75rem !important}.p-xl-0{padding:0 !important}.pt-xl-0,.py-xl-0{padding-top:0 !important}.pr-xl-0,.px-xl-0{padding-right:0 !important}.pb-xl-0,.py-xl-0{padding-bottom:0 !important}.pl-xl-0,.px-xl-0{padding-left:0 !important}.p-xl-1{padding:.3125rem !important}.pt-xl-1,.py-xl-1{padding-top:.3125rem !important}.pr-xl-1,.px-xl-1{padding-right:.3125rem !important}.pb-xl-1,.py-xl-1{padding-bottom:.3125rem !important}.pl-xl-1,.px-xl-1{padding-left:.3125rem !important}.p-xl-2{padding:.625rem !important}.pt-xl-2,.py-xl-2{padding-top:.625rem !important}.pr-xl-2,.px-xl-2{padding-right:.625rem !important}.pb-xl-2,.py-xl-2{padding-bottom:.625rem !important}.pl-xl-2,.px-xl-2{padding-left:.625rem !important}.p-xl-3{padding:.9375rem !important}.pt-xl-3,.py-xl-3{padding-top:.9375rem !important}.pr-xl-3,.px-xl-3{padding-right:.9375rem !important}.pb-xl-3,.py-xl-3{padding-bottom:.9375rem !important}.pl-xl-3,.px-xl-3{padding-left:.9375rem !important}.p-xl-4{padding:1.875rem !important}.pt-xl-4,.py-xl-4{padding-top:1.875rem !important}.pr-xl-4,.px-xl-4{padding-right:1.875rem !important}.pb-xl-4,.py-xl-4{padding-bottom:1.875rem !important}.pl-xl-4,.px-xl-4{padding-left:1.875rem !important}.p-xl-5{padding:3.75rem !important}.pt-xl-5,.py-xl-5{padding-top:3.75rem !important}.pr-xl-5,.px-xl-5{padding-right:3.75rem !important}.pb-xl-5,.py-xl-5{padding-bottom:3.75rem !important}.pl-xl-5,.px-xl-5{padding-left:3.75rem !important}.m-xl-auto{margin:auto !important}.mt-xl-auto,.my-xl-auto{margin-top:auto !important}.mr-xl-auto,.mx-xl-auto{margin-right:auto !important}.mb-xl-auto,.my-xl-auto{margin-bottom:auto !important}.ml-xl-auto,.mx-xl-auto{margin-left:auto !important}}@media (min-width: 1600px){.m-xxl-0{margin:0 !important}.mt-xxl-0,.my-xxl-0{margin-top:0 !important}.mr-xxl-0,.mx-xxl-0{margin-right:0 !important}.mb-xxl-0,.my-xxl-0{margin-bottom:0 !important}.ml-xxl-0,.mx-xxl-0{margin-left:0 !important}.m-xxl-1{margin:.3125rem !important}.mt-xxl-1,.my-xxl-1{margin-top:.3125rem !important}.mr-xxl-1,.mx-xxl-1{margin-right:.3125rem !important}.mb-xxl-1,.my-xxl-1{margin-bottom:.3125rem !important}.ml-xxl-1,.mx-xxl-1{margin-left:.3125rem !important}.m-xxl-2{margin:.625rem !important}.mt-xxl-2,.my-xxl-2{margin-top:.625rem !important}.mr-xxl-2,.mx-xxl-2{margin-right:.625rem !important}.mb-xxl-2,.my-xxl-2{margin-bottom:.625rem !important}.ml-xxl-2,.mx-xxl-2{margin-left:.625rem !important}.m-xxl-3{margin:.9375rem !important}.mt-xxl-3,.my-xxl-3{margin-top:.9375rem !important}.mr-xxl-3,.mx-xxl-3{margin-right:.9375rem !important}.mb-xxl-3,.my-xxl-3{margin-bottom:.9375rem !important}.ml-xxl-3,.mx-xxl-3{margin-left:.9375rem !important}.m-xxl-4{margin:1.875rem !important}.mt-xxl-4,.my-xxl-4{margin-top:1.875rem !important}.mr-xxl-4,.mx-xxl-4{margin-right:1.875rem !important}.mb-xxl-4,.my-xxl-4{margin-bottom:1.875rem !important}.ml-xxl-4,.mx-xxl-4{margin-left:1.875rem !important}.m-xxl-5{margin:3.75rem !important}.mt-xxl-5,.my-xxl-5{margin-top:3.75rem !important}.mr-xxl-5,.mx-xxl-5{margin-right:3.75rem !important}.mb-xxl-5,.my-xxl-5{margin-bottom:3.75rem !important}.ml-xxl-5,.mx-xxl-5{margin-left:3.75rem !important}.p-xxl-0{padding:0 !important}.pt-xxl-0,.py-xxl-0{padding-top:0 !important}.pr-xxl-0,.px-xxl-0{padding-right:0 !important}.pb-xxl-0,.py-xxl-0{padding-bottom:0 !important}.pl-xxl-0,.px-xxl-0{padding-left:0 !important}.p-xxl-1{padding:.3125rem !important}.pt-xxl-1,.py-xxl-1{padding-top:.3125rem !important}.pr-xxl-1,.px-xxl-1{padding-right:.3125rem !important}.pb-xxl-1,.py-xxl-1{padding-bottom:.3125rem !important}.pl-xxl-1,.px-xxl-1{padding-left:.3125rem !important}.p-xxl-2{padding:.625rem !important}.pt-xxl-2,.py-xxl-2{padding-top:.625rem !important}.pr-xxl-2,.px-xxl-2{padding-right:.625rem !important}.pb-xxl-2,.py-xxl-2{padding-bottom:.625rem !important}.pl-xxl-2,.px-xxl-2{padding-left:.625rem !important}.p-xxl-3{padding:.9375rem !important}.pt-xxl-3,.py-xxl-3{padding-top:.9375rem !important}.pr-xxl-3,.px-xxl-3{padding-right:.9375rem !important}.pb-xxl-3,.py-xxl-3{padding-bottom:.9375rem !important}.pl-xxl-3,.px-xxl-3{padding-left:.9375rem !important}.p-xxl-4{padding:1.875rem !important}.pt-xxl-4,.py-xxl-4{padding-top:1.875rem !important}.pr-xxl-4,.px-xxl-4{padding-right:1.875rem !important}.pb-xxl-4,.py-xxl-4{padding-bottom:1.875rem !important}.pl-xxl-4,.px-xxl-4{padding-left:1.875rem !important}.p-xxl-5{padding:3.75rem !important}.pt-xxl-5,.py-xxl-5{padding-top:3.75rem !important}.pr-xxl-5,.px-xxl-5{padding-right:3.75rem !important}.pb-xxl-5,.py-xxl-5{padding-bottom:3.75rem !important}.pl-xxl-5,.px-xxl-5{padding-left:3.75rem !important}.m-xxl-auto{margin:auto !important}.mt-xxl-auto,.my-xxl-auto{margin-top:auto !important}.mr-xxl-auto,.mx-xxl-auto{margin-right:auto !important}.mb-xxl-auto,.my-xxl-auto{margin-bottom:auto !important}.ml-xxl-auto,.mx-xxl-auto{margin-left:auto !important}}.text-justify{text-align:justify !important}.text-nowrap{white-space:nowrap !important}.text-truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.text-left{text-align:left !important}.text-right{text-align:right !important}.text-center{text-align:center !important}@media (min-width: 544px){.text-sm-left{text-align:left !important}.text-sm-right{text-align:right !important}.text-sm-center{text-align:center !important}}@media (min-width: 768px){.text-md-left{text-align:left !important}.text-md-right{text-align:right !important}.text-md-center{text-align:center !important}}@media (min-width: 1024px){.text-lg-left{text-align:left !important}.text-lg-right{text-align:right !important}.text-lg-center{text-align:center !important}}@media (min-width: 1300px){.text-xl-left{text-align:left !important}.text-xl-right{text-align:right !important}.text-xl-center{text-align:center !important}}@media (min-width: 1600px){.text-xxl-left{text-align:left !important}.text-xxl-right{text-align:right !important}.text-xxl-center{text-align:center !important}}.text-lowercase{text-transform:lowercase !important}.text-uppercase{text-transform:uppercase !important}.text-capitalize{text-transform:capitalize !important}.font-weight-light{font-weight:300 !important}.font-weight-normal{font-weight:400 !important}.font-weight-bold{font-weight:700 !important}.font-italic{font-style:italic !important}.text-white{color:#fff !important}.text-primary{color:#25b9d7 !important}a.text-primary:hover,a.text-primary:focus{color:#1e94ab !important}.text-secondary{color:#6c868e !important}a.text-secondary:hover,a.text-secondary:focus{color:#566b71 !important}.text-success{color:#70b580 !important}a.text-success:hover,a.text-success:focus{color:#539f64 !important}.text-info{color:#25b9d7 !important}a.text-info:hover,a.text-info:focus{color:#1e94ab !important}.text-warning{color:#fab000 !important}a.text-warning:hover,a.text-warning:focus{color:#c78c00 !important}.text-danger{color:#f54c3e !important}a.text-danger:hover,a.text-danger:focus{color:#f21f0e !important}.text-light{color:#fafbfc !important}a.text-light:hover,a.text-light:focus{color:#dae2e9 !important}.text-dark{color:#363a41 !important}a.text-dark:hover,a.text-dark:focus{color:#1f2125 !important}.text-muted{color:#6c868e !important}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.visible{visibility:visible !important}.invisible{visibility:hidden !important}.product-page{padding-bottom:80px}.product-page>#field-disabled{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:100%}.product-page .widget-radio-inline{margin-bottom:10px}.product-page .widget-radio-inline div.radio{display:inline-block;margin-bottom:0;vertical-align:middle}.product-page .widget-radio-inline a.btn{display:inline;height:29px;vertical-align:middle}.product-page h2{padding-top:20px}.product-page .widget-checkbox-inline div.checkbox{display:inline}.product-page .widget-checkbox-inline label{display:inline}.product-page .table-fixed{table-layout:fixed;border:0}.product-page .table-fixed thead{width:90%;border:0}.product-page .table-fixed thead th{border:0}.product-page .table-fixed tbody{width:100%;height:130px;overflow-y:auto}.product-page .table-fixed tbody td,.product-page .table-fixed thead>tr>th{border-bottom-width:0}.product-page .table-fixed tr{clear:both}.product-page .table-fixed td span{word-break:break-all;word-wrap:break-word}.product-page::before{position:fixed;top:2.4375rem;right:0;left:0;z-index:400;display:block;height:1px;content:"";-webkit-box-shadow:#363a41 0 0 10px;box-shadow:#363a41 0 0 10px}.product-page ul.nostyle{padding:0;list-style:none}.product-page .tab-content{padding:0}.product-page .tab-content .bordered{margin-top:-1px}.product-page .product-header{padding-top:1.25rem;padding-bottom:1.25rem;margin-top:-.9375rem;margin-bottom:.9375rem;background:#fff}.product-page .product-header .edit{background-size:4%}.product-page .product-header .help-box{margin-top:0.3rem;margin-left:0.625rem}.product-page .product-header .form_step1_type_product,.product-page .product-header .form_switch_language,.product-page .product-header .toolbar{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.product-page .product-header .product-header-form #product_header{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin:0 -1rem}.product-page .product-header .product-header-form #product_header>.form-group{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;margin:0 1rem}.product-page .product-header .product-header-form #product_header>.form-group.select-widget{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;height:2.4375rem}.product-page .big-input .form-control{font-size:1.5rem}.product-page .bulk-action{cursor:pointer}.product-page #bulk-combinations-container{width:97%;padding:0 0.9375rem;margin:-1.063rem 0 0.9375rem;font-size:0.75rem;font-weight:600}.product-page .product-footer{position:fixed;right:0;bottom:0;left:13.13rem;z-index:10;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background:#fff;-webkit-box-shadow:#363a41 0 0 10px;box-shadow:#363a41 0 0 10px;padding-top:.9375rem;padding-bottom:.9375rem}.product-page .product-footer .form-group{margin-bottom:0}.product-page .product-footer .for-switch{display:inline-block;margin-right:0.25rem;margin-left:1.25rem;font-size:0.875rem}@media (max-width: 1023.98px){.product-page .product-footer{left:0}}.product-page .product-footer .product-footer-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:100%;height:100%}.product-page .product-footer .product-footer-container .product-footer-left,.product-page .product-footer .product-footer-container .product-footer-right{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin:0 0.5rem}.product-page .product-footer .product-footer-container .product-footer-left>*,.product-page .product-footer .product-footer-container .product-footer-right>*{margin:0 0.5rem}.product-page .product-footer .product-footer-container .product-footer-left{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.product-page .product-footer .product-footer-container .product-footer-right{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.product-page .product-footer .product-footer-container .switch-widget{min-width:6rem;padding-top:0.25rem}.product-page .product-footer .product-footer-container .delete-product-button{padding:0.5rem}.product-page .help-box{min-width:1rem;cursor:pointer}.product-page .form-contenttab{padding-top:.9375rem;padding-bottom:.9375rem}.product-page .customization-field-row .alert{margin-top:0.75rem}.product-page .form-group>.alert:not(.alert-unavailable){max-width:47.65rem}.product-page .form-group>.help-box{margin-top:0.6rem}.product-page .form-group .title{margin-bottom:1.25rem}.product-page .form-group .money-type{max-width:20rem}.product-page .form-group.select-widget{max-width:20rem}@media (max-width: 767.98px){.product-page .form-group input,.product-page .form-group.select-widget,.product-page .form-group .money-type{max-width:inherit}}.product-page .form-group [class^="form-columns"] select,.product-page .form-group [class^="form-columns"] .select2{max-width:100%}.product-page .hide{display:none}.product-page .summary-description-container{overflow:hidden}.product-page .summary-description-container .nav-tabs{overflow:hidden}.product-page .summary-description-container .nav-tabs.bordered .nav-link.active{border-right:1px solid #bbcdd2;border-left:1px solid #bbcdd2}.product-page .summary-description-container .tab-content.bordered{border-top:1px solid #bbcdd2}.product-page .product-feature{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;margin-bottom:1rem}.product-page .product-feature .js-locale-input-group{-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center}@media screen and (max-width: 1300px){.product-page .product-feature::after{display:inline-block;width:100%;margin:0.5rem 0.9375rem;content:"";border-top:1px solid #25b9d7}}.product-page #accordion_combinations td.img img{max-width:50px}.product-page #accordion_combinations .combination td.img .fake-img{width:50px;height:50px;background:#6c868e}.product-page .product-combination-image{display:inline-block;margin:0 0.625rem 0 0;border:1px solid #bbcdd2;border-radius:.1875rem;outline:solid 4px #fff}.product-page .product-combination-image.img-highlight{border:solid 2px #25b9d7}.product-page .product-combination-image input{display:none}.product-page .combination-form .nav{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.product-page .combination-form .combination-label{color:#6c868e}.product-page .combination-form .combination-label.vcenter{line-height:5.625rem}.product-page .combination-form .title{margin-bottom:0.625rem;clear:both;font-size:0.9375rem}.product-page .combination-form .next,.product-page .combination-form .prev{display:inline-block;margin-bottom:0.625rem;cursor:pointer}.product-page .combination-form .next{margin-left:auto}.product-page .combination-form .panel{background:#fff}.product-page #product-images-dropzone{z-index:1;padding:5px;margin-bottom:0;overflow-y:hidden;border:none;border-bottom-right-radius:0;border-bottom-left-radius:0;-webkit-transition:width 0.5s ease-out,margin 0.5s ease-out;transition:width 0.5s ease-out,margin 0.5s ease-out}.product-page #product-images-dropzone .product-images-dropzone-error p{margin-bottom:0}.product-page #product-images-dropzone.col-md-8{min-height:200px;border-right:solid 1px #bbcdd2}.product-page #product-images-dropzone.dropzone .dz-preview{width:130px;height:130px;border:1px solid #bbcdd2}.product-page #product-images-dropzone.dropzone .dz-preview.active,.product-page #product-images-dropzone.dropzone .dz-preview:hover{border:3px solid #25b9d7;border-radius:3px}.product-page #product-images-dropzone.dropzone .dz-preview.openfilemanager{color:#bbcdd2;text-align:center}.product-page #product-images-dropzone.dropzone .dz-preview.openfilemanager div{position:relative;top:50%;display:inline-block;width:50px;height:50px;border:5px solid #bbcdd2;border-radius:100%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.product-page #product-images-dropzone.dropzone .dz-preview.openfilemanager div span{display:inline-block;height:50px;font-size:30px;font-weight:600;line-height:40px;text-align:center}.product-page #product-images-dropzone.dropzone .dz-preview .dz-image{width:100%;height:100%;line-height:130px;border-radius:0}.product-page #product-images-dropzone.dropzone .dz-preview .dz-image.bg{background-repeat:no-repeat;background-position:center center;background-size:cover}.product-page #product-images-dropzone.dropzone .dz-preview .dz-image img{position:absolute;top:0;right:0;bottom:0;left:0;max-width:130px;max-height:130px;margin:auto;-webkit-filter:none;filter:none}.product-page #product-images-dropzone.dropzone .dz-preview .dz-image:hover{cursor:pointer}.product-page #product-images-dropzone.dropzone .dz-preview .iscover{position:absolute;bottom:0;z-index:10;width:100%;padding:5px;font-size:12px;color:#fff;text-align:center;background:#6c868e}.product-page #product-images-dropzone.dropzone .dz-preview.dz-image-preview .dz-remove{display:none}.product-page #product-images-dropzone.dropzone .dz-preview.dz-image-preview .dz-error-mark{display:none}.product-page #product-images-dropzone.dropzone .dz-preview.dz-image-preview .dz-error-message{display:none}.product-page #product-images-dropzone.dropzone .dz-preview.dz-image-preview .dz-success-mark{display:none}.product-page #product-images-dropzone.dropzone .dz-preview.dz-image-preview .dz-details .dz-size{display:none}.product-page #product-images-dropzone.dropzone .dz-preview.dz-image-preview .dz-details .dz-filename{display:none}.product-page #product-images-dropzone.dropzone .dz-preview:hover .dz-image img{-webkit-filter:none;filter:none;-webkit-transform:none;transform:none}.product-page #product-images-dropzone.dropzone.dz-clickable *{cursor:pointer}.product-page #product-images-dropzone .dz-default.dz-message{height:100%;padding:2em 0;margin:0}.product-page #product-images-dropzone .dz-default.dz-message a{font-weight:700}.product-page #product-images-dropzone .dz-default.dz-message i{font-size:60px;color:#bbcdd2;filter:alpha(opacity=50);opacity:0.5}.product-page #product-images-dropzone .dz-default.dz-message small{font-size:12px;font-style:italic;color:#6c868e}.product-page .nav-tabs .nav-item.has-error .nav-link{color:#c45c67;border-top:3px solid #c45c67}.product-page #product-images-form-container{z-index:0;float:left;min-height:200px;margin:10px 0 5px;cursor:default}.product-page #product-images-form-container .close{position:absolute;top:0;right:0.5em;z-index:1}.product-page #product-images-form-container .actions{padding-top:15px}.product-page #product-images-container{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;width:100%;border:solid 1px #bbcdd2}.product-page #product-images-container .dropzone-expander{display:none;padding:5px 0;font-size:12px;font-weight:600;color:#6c868e;cursor:pointer;border-top:solid 1px #bbcdd2}.product-page #product-images-container .dropzone-expander span{display:none}.product-page #product-images-container .dropzone-expander.expand span.expand{display:block}.product-page #product-images-container .dropzone-expander.compress span.compress{display:block}.product-page .twitter-typeahead .tt-menu{width:100%;max-height:19.5rem;padding:0.3125rem 0;overflow:auto;background:#fff;border:1px solid #6c868e}.product-page .twitter-typeahead .tt-suggestion{padding:0.3125rem 0.625rem;color:#6c868e;cursor:pointer}.product-page .twitter-typeahead .tt-suggestion:hover,.product-page .twitter-typeahead .tt-suggestion.tt-cursor{color:#fff;background-color:#7cd5e7}.product-page .pack-product{position:relative;border:0.0625rem solid #bbcdd2;border-radius:4px}.product-page .pack-product>.cover{width:100%}.product-page .pack-product>.btn-danger{position:absolute;top:0.0625rem;right:0.0625rem;visibility:hidden;opacity:0}.product-page .pack-product:hover{border:2px #25b9d7 solid}.product-page .pack-product:hover>.btn-danger{visibility:visible;opacity:1}.product-page .pack-product h4,.product-page .pack-product .ref{padding:0.625rem}.product-page .pack-product h4{margin:0;font-weight:400;line-height:1.25rem;color:#000}.product-page .pack-product .ref{color:#6c868e}.product-page .pack-product .delete{background:#fff;border:none}.product-page .pack-product .delete .material-icons{color:#bbcdd2}.product-page #add-categories{margin-top:2.5rem}.product-page #categories-tree{clear:both}.product-page .ui-widget>.form-control-label{font-size:0.625rem;font-weight:600}.product-page .ui-widget>.ui-autocomplete-input::-webkit-input-placeholder,.product-page .ui-widget>.ui-autocomplete-input::-moz-placeholder,.product-page .ui-widget>.ui-autocomplete-input:-ms-input-placeholder,.product-page .ui-widget>.ui-autocomplete-input:-moz-placeholder{font-size:0.75rem}.product-page .category-tree-overflow{overflow:auto;white-space:nowrap}.product-page .category-tree-overflow>.main-category{display:block;margin:0.2rem 0 0;font-size:0.625rem;font-weight:600;text-align:right}.product-page .category-tree-overflow ul.category-tree{display:inline-block;min-width:100%;padding-top:0.625rem}.product-page .category-tree-overflow ul.category-tree .main-category{font-size:0.625rem;font-weight:600}.product-page .category-tree-overflow ul.category-tree label,.product-page .category-tree-overflow ul.category-tree .category-tree-inputs{position:relative;width:100%;max-width:100%;padding-right:1.5rem;margin-bottom:0}.product-page .category-tree-overflow ul.category-tree label .default-category,.product-page .category-tree-overflow ul.category-tree .category-tree-inputs .default-category{position:absolute;top:5px;right:3px}.product-page .category-tree-overflow ul.category-tree label .form-check-radio,.product-page .category-tree-overflow ul.category-tree .category-tree-inputs .form-check-radio{margin-bottom:5px}.product-page .category-tree-overflow ul.category-tree .category-tree-inputs{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:100%;padding:0 0 0 1.25rem}.product-page .category-tree-overflow ul.category-tree .category-tree-inputs .form-radio label{padding:0}.product-page .category-tree-overflow ul.category-tree .category-tree-inputs .md-checkbox.disabled [type="checkbox"]+.md-checkbox-control{cursor:not-allowed;opacity:0.5}.product-page .category-tree-overflow ul.category-tree .category-tree-inputs .md-checkbox.disabled [type="checkbox"]+.md-checkbox-control::before{cursor:not-allowed}.product-page .category-tree-overflow ul.category-tree ul{padding-left:0.75rem}.product-page .categories-tree{padding:0.625rem;border:#bbcdd2 1px solid;border-radius:.1875rem}.product-page .categories-tree .categories-tree-actions{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:0.625rem;font-weight:600;text-transform:uppercase;border-bottom:0.063rem solid #bbcdd2}.product-page .categories-tree .categories-tree-actions [data-action="expand"],.product-page .categories-tree .categories-tree-actions [data-action="reduce"]{cursor:pointer}.product-page .categories-tree .categories-tree-actions>hr{margin-top:0.625rem}.product-page .categories-tree .categories-tree-actions .form-control-label{padding-top:0.3125rem}.product-page .categories-tree .categories-tree-actions .material-icons{font-size:1.25rem;vertical-align:middle}.product-page .categories-tree .categories-tree-actions #categories-tree-reduce{display:none}.product-page .categories-tree .categories-tree-actions #categories-tree-expand,.product-page .categories-tree .categories-tree-actions #categories-tree-reduce{cursor:pointer}.product-page .subtitle{color:#6c868e}.product-page .external-link{font-weight:600}.product-page .external-link .material-icons{vertical-align:middle}.product-page .btn-action{text-transform:none}.product-page .btn-action.focus,.product-page .btn-action:focus{color:#25b9d7}.product-page .customFieldCollection .delete{color:#6c868e}.product-page .customFieldCollection .delete .material-icons{font-size:1.25rem}.product-page .maxLength{float:right;font-size:12px;font-style:italic;color:#6c868e}.product-page textarea.autoload_rte+.maxLength{margin-top:15px}.product-page #form_step5_meta_description_1{height:8.75rem;resize:none}.product-page #product-attachment-file{margin:0}.product-page #product-attachment-file tbody{max-height:450px;overflow-y:auto}.product-page #product-attachment-file .checkbox{margin:0}.product-page #product-attachment-file .checkbox>label{margin:0}.product-page #product-attachment-file td.file-name{overflow-x:hidden;text-overflow:ellipsis;white-space:nowrap}.product-page #combinations-bulk-form{-webkit-transition:opacity 1s ease-in-out;transition:opacity 1s ease-in-out}.product-page #combinations-bulk-form.inactive{cursor:progress;opacity:0.3}.product-page #combinations-bulk-form.inactive>*{pointer-events:none}.product-page .combinations-list th{font-size:.625rem}.product-page .combinations-list .combination.loaded{display:none}.product-page .combinations-list .combination.timeline-wrapper,.product-page .combinations-list .combination .timeline-item{background-color:transparent;border-radius:0}.product-page .combinations-list .combination .animated-background{height:3.125rem}.product-page .combinations-list .combination .img{width:8%}.product-page .combinations-list .combination .attribute-price,.product-page .combinations-list .combination .attribute-quantity{width:15%}.product-page .combinations-list .combination .attribute-finalprice{width:10%;font-size:0.8125rem}.product-page .combinations-list .combination .attribute-actions{line-height:.875rem;text-align:right}.product-page .combinations-list .combination .attribute-actions .btn-sm{padding:0}.product-page .combinations-list .combination .attribute-actions .btn-sm:hover{background-color:transparent;border-color:transparent}.product-page .form-control-static{display:inline-block;margin-top:1.563rem}.product-page #hooks.form-contenttab .top-logo,.product-page #modules-tab .top-logo{float:left;max-width:45px;max-height:45px;margin-right:20px;margin-bottom:20px}.product-page #hooks.form-contenttab .text-ellipsis.module-version,.product-page #hooks.form-contenttab .module-version-author-grid,.product-page #modules-tab .text-ellipsis.module-version,.product-page #modules-tab .module-version-author-grid{font-weight:400;color:#bbcdd2}.product-page #hooks.form-contenttab .text-ellipsis.module-version,.product-page #modules-tab .text-ellipsis.module-version{margin-top:-10px;margin-bottom:10px}.product-page #hooks.form-contenttab .module-item-wrapper-grid,.product-page #modules-tab .module-item-wrapper-grid{-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,0.25);box-shadow:0 1px 4px 0 rgba(0,0,0,0.25)}.product-page #hooks.form-contenttab .module-render-container,.product-page #modules-tab .module-render-container{margin-bottom:1.875rem}.product-page #hooks.form-contenttab .module-render-container>.name,.product-page #modules-tab .module-render-container>.name{margin-bottom:.9375rem}.product-page #custom_fields .required-custom-field{padding:0.375rem 1rem}.product-page #form_step6_tags .token-input{min-width:768px}.product-page #form_step3_tags .token-input{min-width:768px}.product-page .alert-info.alert-experimental::before{content:"\ea4b"}.product-page-v2 .maxLength{float:none}#external-combination-tab{padding-bottom:80px;margin-top:-80px}#external-combination-tab #combinations-list{position:relative;min-height:3.5rem}#external-combination-tab #combinations-list .combination-actions{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}#external-combination-tab #combinations-list .combination-image{width:3rem}#external-combination-tab #combinations-list .combination td .form-check-radio{margin-bottom:0}#external-combination-tab #combinations-list .combination td .form-check-radio .form-check-label{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}#external-combination-tab #combinations-list .spinner-product-combinations-container{position:absolute;top:0;left:0;z-index:9;display:none;width:100%;height:100%;background-color:rgba(255,255,255,0.8)}#external-combination-tab #combinations-list .spinner-product-combinations-container .spinner{position:relative;top:50%;display:block;margin-top:-1.25rem;margin-right:auto;margin-left:auto}.combination-page .combination-images-selector{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}.combination-page .combination-images-selector .combination-image-choice{margin:0.35rem;cursor:pointer;border:solid transparent 3px}.combination-page .combination-images-selector .combination-image-choice:hover,.combination-page .combination-images-selector .combination-image-choice.selected{border:solid #25b9d7 3px}.combination-page .combination-images-selector .combination-image-choice .form-check-radio{display:none}.combination-page .form-group.select-widget,.combination-page .form-group.date_picker-widget{max-width:20rem}.product-page .product-suppliers-block .default-supplier,.combination-page .product-suppliers-block .default-supplier{font-weight:600}.product-page .product-suppliers-block .product-suppliers-collection-row,.combination-page .product-suppliers-block .product-suppliers-collection-row{max-width:100%}.page-sidebar-closed:not(.mobile) .product-page .product-footer{left:3.125rem}.popover-title{display:none}.ui-autocomplete{position:absolute;z-index:1000;max-width:18.13rem;padding:0;margin-top:2px;list-style:none;cursor:default;background-color:#fff;border:1px solid #ccc;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2)}@media screen and (max-width: 1450px){.ui-autocomplete{max-width:12.31rem}}.ui-autocomplete>li{padding:3px 20px}.ui-autocomplete>li:hover{cursor:pointer;background:#7cd5e7}.ui-autocomplete>li:hover a{color:#fff;text-decoration:none}.ui-autocomplete>li.ui-state-focus{background-color:#ddd}.ui-autocomplete a{color:#6c868e}#attributes-list .attribute-group{border:0.0625rem solid #bbcdd2;border-bottom-width:0}#attributes-list .attribute-group:last-child{border-bottom-width:0.0625rem}#attributes-list .attribute-group .attribute-group-name{display:block;padding:0.4375rem;font-weight:600;color:#363a41}#attributes-list .attribute-group .attribute-group-name:hover{text-decoration:none}#attributes-list .attribute-group .attribute-group-name::after{float:right;font-family:"Material Icons", Arial, Helvetica, sans-serif;content:"\E316"}#attributes-list .attribute-group .attribute-group-name.collapsed::after{content:"\E313"}#attributes-list .attribute-group .attributes{height:10.13rem;padding:0.4375rem;overflow-x:hidden;border-top:2px solid #bbcdd2}#attributes-list .attribute-group .attributes .two-columns{-webkit-columns:2;-moz-columns:2;columns:2}#attributes-list .attribute-group .attributes .attribute .js-attribute-checkbox{display:none}#attributes-list .attribute-group .attributes .attribute .js-attribute-checkbox+.attribute-label{display:inline-block;margin:0;font-size:.875rem;color:#bbcdd2}#attributes-list .attribute-group .attributes .attribute .js-attribute-checkbox+.attribute-label .pretty-checkbox{float:left;width:1rem;height:1rem;margin-right:0.4375rem;content:"";border:0.0625rem solid #bbcdd2}#attributes-list .attribute-group .attributes .attribute .js-attribute-checkbox+.attribute-label .pretty-checkbox.not-color::before{display:block;line-height:1rem;color:#fff;text-align:center}#attributes-list .attribute-group .attributes .attribute .js-attribute-checkbox:checked+.attribute-label{font-weight:600;color:#6c868e}#attributes-list .attribute-group .attributes .attribute .js-attribute-checkbox:checked+.attribute-label .pretty-checkbox.not-color::before{font-family:"Material Icons", Arial, Helvetica, sans-serif;content:"\E5CA";background:#25b9d7}.table th{padding-top:0.625rem;padding-bottom:0.625rem}.table td{vertical-align:middle}#product_reference_field{margin-top:7px}#related-product .typeahead-list li,#id-product-redirected .typeahead-list li,.redirect-option-widget .typeahead-list li{border:1px solid #bbcdd2}#related-product .typeahead-list li>.media-left img,#id-product-redirected .typeahead-list li>.media-left img,.redirect-option-widget .typeahead-list li>.media-left img{max-width:50px;max-height:50px}#related-product .typeahead-list li>.media-body i.delete,#id-product-redirected .typeahead-list li>.media-body i.delete,.redirect-option-widget .typeahead-list li>.media-body i.delete{float:right;color:#6c868e;cursor:pointer}#related-product .autocomplete-search .search-suggestion img,#id-product-redirected .autocomplete-search .search-suggestion img,.redirect-option-widget .autocomplete-search .search-suggestion img{width:50px}@media only screen and (min-width: 320px) and (max-width: 1450px){.product-page .product-header .edit{background-size:3%}.product-page .product-header .big-input{width:100%;margin-bottom:0.9375rem}.product-page .product-header .big-input input[type="text"]{height:3.125rem}.product-page .product-header .form_step1_type_product{width:20%}.product-page .product-header .form_switch_language{width:20%}.product-page .product-header .toolbar{width:60%}.product-page .tabs{position:relative;width:auto;overflow:hidden}.product-page .tabs .material-icons{display:inline-block}.product-page .tabs .arrow{position:absolute;top:0;left:0;z-index:2;height:3rem;padding:0.9375rem 0.3125rem;color:#fff;cursor:pointer;background:#fff;background:#25b9d7}.product-page .tabs .arrow.visible{visibility:visible}.product-page .tabs .right-arrow{right:0;left:auto}.product-page .nav-tabs{position:relative;left:35px;width:125rem;height:3.125rem}.product-page .right-column{width:30%}.product-page .left-column{width:70%}.product-page .ui-helper-hidden-accessible{display:inline-block;margin-bottom:0.9375rem}.product-page .combination-form{padding:0 1.25rem}.product-page #form-nav[style*="display:none"] ~ .arrow{display:none}.product-page #accordion_combinations .attribute-finalprice,.product-page #accordion_combinations .attribute-price{display:none}.product-page #combinations_thead th:nth-child(4),.product-page #combinations_thead th:nth-child(5){display:none}.product-page #bulk-combinations-container{width:95%}.product-page #bulk-combinations-container #delete-combinations{float:right}.product-page #bulk-combinations-container div.row:first-child .form-control-label{min-height:auto}.product-page #bulk-combinations-container .btn-block{float:right;width:auto}.product-page .checkbox label{max-width:80%}.product-page .product-footer .hidden-xs,.product-page .product-footer input.save{display:none}.product-page .product-footer button.save{background:#25b9d7}.product-page .product-footer .spinner{margin-top:-0.3125rem}.product-page .product-footer .dropdown{display:block;margin-top:0.625rem}.product-page .product-footer .dropdown .dropdown-menu{top:-7.5rem}}@media (min-width: 1300px) and (max-width: 1750px){#bulk-combinations-container .custom-width{width:33%}}#description_short #form_step1_description_short_1_ifr{min-height:80px}#description #form_step1_description_1_ifr{min-height:80px}@media only screen and (max-width: 420px){.product-page .left-column,.product-page .right-column{width:100%}.product-page .form-group.row>.form-control-label:first-of-type:not(.label-on-top){padding-left:0.9375rem}.product-page #form-content{margin-bottom:3rem}.product-page .product-header .toolbar{display:none}.product-page .product-header .product-name{margin-bottom:0.5rem}.product-page h2{padding-top:0.5rem;margin-bottom:0.5rem}.product-page .form-group.row,.product-page .alert-unavailable{margin-bottom:1rem}.product-page #combinations-list table{display:block;max-width:100%;overflow:scroll}.product-page #combinations-list table th{min-width:8rem}.product-page .product-footer-left{width:80%}.product-page .product-footer-right{width:20%}.product-page .product-footer .btn{padding:0.5rem;font-size:0.75rem}.product-page .product-footer-container .product-footer-left,.product-page .product-footer-container .product-footer-right{-ms-flex-wrap:wrap;flex-wrap:wrap;width:50%}}

