#footer {
  position: fixed;
  bottom: 0;
  z-index: 600;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #aaa;
  background-color: rgba(#000, 0.8);
  @include animate(fadeInUp, 0.3s);

  a {
    color: #ccc;
  }

  &.hide {
    display: none !important;
  }

  #go-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 9003;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0 6px;
    margin: -2px 0 0;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: $main-color;
    @include right(10px);

    &:hover {
      background-color: $brand-primary;
    }
  }

  a.footer_link {
    color: $brand-primary;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    i {
      font-size: $icon-size-base;
      color: #fff;
    }
  }

  .footer-contact {
    padding: 7px 0 0;
    overflow: hidden;
    line-height: 35px;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include margin(0,0,6px,6px);

    strong {
      font-weight: 400;
      color: #fff;
    }
  }
}

a.link-social {
  i {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px !important;
    text-align: center;
    @include margin(0, 4px, 0, 0);
    @include border-radius(30px);
  }

  &:hover {
    text-decoration: none;
  }
}

.link-youtube i {
  color: #fff;
  background-color: #f00;

  &:hover {
    color: #f00;
    background-color: #fff;
  }
}

.link-twitter i {
  color: #fff;
  background-color: #7cceef;

  &:hover {
    color: #7cceef;
    background-color: #fff;
  }
}

.link-facebook i {
  color: #fff;
  background-color: #557dbb;

  &:hover {
    color: #557dbb;
    background-color: #fff;
  }
}

.link-github i {
  color: #000;
  background-color: #fff;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.status-page-dot {
  &.operational {
    color: #2ecc71 !important;
  }

  &.degraded_performance {
    color: #f1c40f !important;
  }

  &.partial_outage {
    color: #e67e22 !important;
  }

  &.major_outage {
    color: #e74c3c !important;
  }
}
